{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Case reserved {{'- ' + serviceName}}{% endblock %}

{% block content %}

  <div class="jui-width-container">

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          {{ govukPanel({
            headingLevel: 1,
            titleText: 'Case reserved',
            html: _case.id
          }) }}

          <p><a href="/app/dashboard">Go to your cases</a></p>

        </div>

      </div>

    </main>

  </div>

{% endblock %}