{% extends "layout.html" %}
{% set selectedInstallation = (data['new-linked-representative']['installation']) or '' %}
{% set installationID = '' %}
{% for item in data['installations'] %}
  {% if selectedInstallation == (item.name) | trim %}
    {% set installationID = item.permitId %}
  {% endif %}
{% endfor %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['new-linked-representative']['existing-ets-user'] == 'no' %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Ask the user to create an account first.
          </strong>
        </div>
        <p>Once they have created their user account, please complete these steps again to add them as an authorised representative.</p>
        {{ govukButton({
          text: "Back to the home page",
          href: '/'
        }) }}
      {% else %}
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
        <h1 class="govuk-panel__title">Completed</h1>
        <div class="govuk-panel__body">
          You have successfully added a new authorised representative.
        </div>
      </div>

      {{ govukInsetText({
        html: "Visit account page to <a class='govuk-link' href='/account/" + installationID +"?view=representatives'>manage representatives</a>."
      }) }}
      {% endif %}
    </div>
  </div>

{% endblock %}
