{% extends "layouts/admin/base.html" %}
{% set pageID = "users" %}

{% set status %}
{% if user.status == "Completed" %}
  <span class="jui-status  jui-status--complete  govuk-!-margin-left-1" >{{ user.status }}</span>
{% elif user.status == "Failed" %}
  <span class="jui-status  jui-status--urgent  govuk-!-margin-left-1" >{{ user.status }}</span>
{% else %}
  <span class="jui-status  jui-status--pending  govuk-!-margin-left-1" >{{ user.status }}</span>
{% endif %}
{% endset %}

{% block content %}
<div class="jui-width-container">
<main class="govuk-main-wrapper" role="main">
<h1 class="govuk-heading-xl">User {{user.id}} details</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name:
        </dt>
        <dd class="govuk-summary-list__value">
          {{user.name}}
        </dd>
      </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job title:
        </dt>
        <dd class="govuk-summary-list__value">
          {{ user.jobTitle }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone:
        </dt>
        <dd class="govuk-summary-list__value">
          {{user.phone}}
        </dd>
        
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email:
        </dt>
        <dd class="govuk-summary-list__value">
          {{user.email}}
        </dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status:
        </dt>
        <dd class="govuk-summary-list__value">
          {{user.status | capitalize }}
        </dd>
        
      </div>
      {% if 'suspended' in user.status | lower %}
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Notes:
        </dt>
        <dd class="govuk-summary-list__value">
          {{user.notes | d('No notes provided')}}
        </dd>
      </div>
      {% endif %}
      
    </dl>

    </div>
    <div class="govuk-grid-column-one-third">
    {% if not 'closed' in user.status | lower %}
      {% if 'open' in user.status | lower %}
      <p>
      {{ govukButton({
          text: "Suspend user",
          href: '/app/user/' + user.id +'/suspend/check-and-submit',
          classes: 'hmcts-button--secondary govuk-!-margin-bottom-0'
        }) }}
      </p>
      {% endif %}
      {% if 'suspended' in user.status | lower %}
      <p>
        {{ govukButton({
          text: "Reinstate user",
          href: '/app/user/' + user.id +'/reinstate/check-and-submit',
          classes: 'hmcts-button--secondary govuk-!-margin-bottom-0'
        }) }}
      </p>
      {% endif %}
      {% if not 'closure' in user.status | lower %}
      <p>
      {{ govukButton({
        text: "Propose user account closure",
        href: '/app/user/' + user.id +'/close/check-and-submit',
        classes: 'hmcts-button--secondary govuk-!-margin-bottom-0'
      }) }}
      </p>
      {% endif %}
    {% endif %}
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Accounts</h2>
      <table class="govuk-table app-table--overflow">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Account</th>
            <th class="govuk-table__header" scope="col">Account name</th>
            <th class="govuk-table__header" scope="col">Account holder</th>
            <th class="govuk-table__header" scope="col">Role</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for acct in data.installations | filterObjects('type', 'is not', 'trading') %}
          <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row"><a href="/account/{{ acct.permitId }}/">{{ acct.permitId }}</a></th>
              <td class="govuk-table__cell">{{ acct.name }}{% if acct.status != "open" %} <strong>({{acct.status | capitalize}})</strong>{% endif %}</td>
              <td class="govuk-table__cell">{{ acct.accountHolder }}</td>
              <td class="govuk-table__cell">
                AR
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <div class="hmcts-menu hmcts-menu--user-item user-item-{{loop.index0}}">
                  <div class="hmcts-menu__wrapper">
                    <a href="/app/user/{{user.id}}/suspend" role="button" class="govuk-button hmcts-menu__item hmcts-button--secondary govuk-!-margin-right-2">
                        Suspend User
                    </a>
                    <a href="" role="button" class="govuk-button hmcts-menu__item hmcts-button--secondary govuk-!-margin-right-2">
                        Un-enrol user
                    </a>
                  </div>
                </div>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
</main>
</div>
{% endblock %}
{% block page_scripts %}
<script>
$(".hmcts-menu--user-item").each(function( index ) {
  var containerClass = '.user-item-' + index
  new HMCTSFrontend.Menu({
      container: $(containerClass),
      mq: '(min-width: 200em)',
      buttonText: 'Actions',
      buttonClasses: 'hmcts-button--secondary hmcts-menu__toggle-button--secondary',
      menuClasses: 'hmcts-menu__wrapper--right'
    });
});
</script>
{% endblock %}
