{% if shouldShowCookieMessage %}
  <div class="app-cookie-banner app-cookie-banner--warning">
    <div class="govuk-width-container">
      <p class="govuk-body">
This is a prototype, developed to demonstrate recent design work on the UK Emissions Trading Registry. Do not enter any confidential information, real user names or real passwords while using this prototype.
      </p>
      <p class="govuk-body">
        This prototype sets a cookie when you choose to hide this banner.
        <br>
      </p>
      <form method="post" action="/hide-banner">
        <button class="govuk-button app-cookie-banner__button">Hide this banner</button>
      </form>
    </div>
  </div>
{% endif %}
