{% set toggleSearchHtml %}
  <div class="hmcts-search-toggle">
    <div class="hmcts-search-toggle__toggle"></div>
    <div class="hmcts-search-toggle__search">
      {{ hmctsSearch({
        action: '/app/search-results',
        classes: 'hmcts-search--ondark hmcts-search--toggle hmcts-hidden',
        input: {
          id: 'search2',
          name: 'search2'
        },
        label: {
          classes: 'govuk-visually-hidden',
          text: 'Search'
        },
        hint: {
          text: 'Enter account number or shortname.'
        },
        button: {
          text: 'Search'
        }
      }) }}
    </div>
  </div>
{% endset %}


{% if pageID == "Signin" %}

  {{ hmctsGlobalHeader({

    service: {
      name: serviceName,
      url: '/app/dashboard'
    }

  }) }}

{% else %}
  {{ hmctsGlobalHeader({

    service: {
      name: serviceName,
      url: '/app/dashboard'
    },

    navigation: {
      label: 'Account navigation',
      items: [
      {
        text: 'Admin',
        href: '/admin'
      },
      {
        text: 'Sign out',
        href: '/resetSessionData'
      }
      ]
    }

  }) }}

  <button type="button" role="button" class="govuk-header__menu-button app-header-toggle" aria-controls="hmcts-header__navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
  
  {{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    classes: 'govuk-!-margin-bottom-0 app-nav--overflow',
    items: [
    {
      text: 'Accounts',
      href: '/app/dashboard',
      active: pageID == 'accounts'
    },
    {
      text: 'Transactions',
      href: '/app/transactions/search',
      active: pageID == 'transactions'
    },
    {
      text: 'Users',
      href: '/app/users/search',
      active: pageID == 'users'
    },
    {
      text: 'Reporting',
      href: '/app/reporting',
      active: pageID == 'reporting'
    },
    {
      text: 'Tasks',
      href: '/app/tasks',
      active: pageID == 'tasks'
    }
    ]
  }) }}
{% endif %}
<script>
  function toggleClass(node, className) {
  if (node.className.indexOf(className) > 0) {
    node.className = node.className.replace(' ' + className, '');
  } else {
    node.className += ' ' + className;
  }
};
  var $toggleButton = document.querySelector('.app-header-toggle')
  var $target = document.querySelector('.' + $toggleButton.getAttribute('aria-controls'))
  if ($toggleButton && $target) {
  $toggleButton.onclick = function(event) {
    var $toggleButton = event.target || event.srcElement;
    toggleClass($target, 'hmcts-header__navigation--open');
    toggleClass($toggleButton, 'govuk-header__menu-button--open');
    $toggleButton.setAttribute('aria-expanded', $toggleButton.getAttribute('aria-expanded') !== 'true')
    $target.setAttribute('aria-hidden', $target.getAttribute('aria-hidden') === 'false')
  }
};
</script>

