{% extends "layouts/admin/base-account-question.html" %}

{% block pageTitle %}
  Check before surrendering your allowances
{% endblock %}


{% block content %}

  <h1 class="govuk-heading-xl">Check before surrendering your allowances</h1>
    <form class="form" action="check-and-submit" method="post">

        <p>You are about to surrender <strong>{{ data.etsSurrenderAllowance.draft.amountToSurrender }}</strong> Allowances.</p><p> The transaction will be reflected in your balance immediately, but will not be finalised until it has been approved.</p>

      {{ govukButton({
        text: "Surrender allowances"
      }) }}
    </form>

{% endblock %}
