{% extends "layouts/admin/base-account-question.html" %}
{% block pageTitle %}
  Surrender your Allowances
{% endblock %}

{% block content %}
      <h1 class="govuk-heading-xl">
        Surrender your allowances
      </h1>
      <form class="form" action="surrender-amount" method="post">

                {% if data.etsSurrenderAllowance.surrenderAmountDue %}
                    {% if data.etsSurrenderAllowance.surrenderAmountDue - data.etsSurrenderAllowance.totalAmountSurrendered <= 0 %}
                    <p>You have already surrendered <strong>{{ data.etsSurrenderAllowance.totalAmountSurrendered }}</strong> allowances.</p><p>You have already met your obligations but you can surrender more allowances if you want to.</p>
                    {% else %}
                      <p>You need to surrender <strong>{{ data.etsSurrenderAllowance.surrenderAmountDue - data.etsSurrenderAllowance.totalAmountSurrendered | d(0) }}</strong> allowances by 11:59pm 15 March 2019.</p>

                      <p>You can also choose to surrender more allowances, using multiple transactions.</p>
                       <!-- <ul class="govuk-list govuk-list--bullet">
                          <li>You need to do this before the deadline or [consequences]</li>
                          <li>You may also choose to surrender more than the required amount. </li>
                          <li>You can do this in multiple transactions.</li>
                       </ul> -->
                    {% endif %}
                {% else %}
                    <p>You have not yet declared you emissions but you can still surrender allowances.</p>
                    {% if data.etsSurrenderAllowance.totalAmountSurrendered > 0 %}
                    <p>You have already surrendered <strong>{{ data.etsSurrenderAllowance.totalAmountSurrendered }}</strong> allowances.</p>
                    {% endif %}
                {% endif %}
                {% set amountToSurrender %}
                    {{ govukInput({
                    id: "other-amount",
                    name: "etsSurrenderAllowance.draft.amountToSurrender",
                    classes: "govuk-input--width-5 format-number",
                    label: {
                        text: "Enter amount to surrender"
                    },
                    hint: {
                        text:  'You have ' + installationData.holdings[0].generalAllowance | formatNumber + ' allowances available'
                    },
                    value: data.etsSurrenderAllowance.draft.amountToSurrender
                    }) }}
                {% endset -%}

                {% if data.etsSubmitEmmissions.total %}
                    {% if data.etsSurrenderAllowance.surrenderAmountDue - data.etsSurrenderAllowance.totalAmountSurrendered <= 0 %}
                        {{ amountToSurrender | safe }}
                    {% else %}
                        {{ govukRadios({
                          idPrefix: "surrender-method",
                          name: "etsSurrenderAllowance.draft.surrenderMethod",
                          fieldset: {},
                          items: [
                            {
                              value: "fullAmount",
                              text: "Surrender the full amount",
                              checked: checked ("etsSurrenderAllowance.draft.surrenderMethod", 'fullAmount')
                            },
                            {
                              value: "customAmount",
                              text: "Surrender another amount",
                              checked: checked ("etsSurrenderAllowance.draft.surrenderMethod", 'customAmount'),
                              conditional: {
                                html: amountToSurrender
                              }
                            }
                          ]
                        }) }}
                    {% endif %}
                {% else %}
                    {{ amountToSurrender | safe }}
                {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

{% endblock %}
{% block page_scripts %}
<script>
    var el = document.querySelector('.format-number');
    el.addEventListener('keyup', function (event) {
      if (event.which >= 37 && event.which <= 40) return;
      this.value = this.value
                      .replace(/\D/g, '')
                      .replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    });
</script>
{% endblock %}
