{% extends "layouts/admin/base-account-question.html" %}
{% block pageTitle %}
  Surrender your Allowances
{% endblock %}

{% block content %}
      <h1 class="govuk-heading-xl">
        Surrender your Allowances
      </h1>
      <form class="form" action="surrender-amount" method="post">

                {% if data.etsSubmitEmmissions.total %}
                    {% if data.etsSubmitEmmissions.total - data.etsSurrenderAllowance.totalAmountSurrendered <= 0 %} 
                    <p>You have already surrendered <strong>{{ data.etsSurrenderAllowance.totalAmountSurrendered }}</strong> allowances.</p><p>This is enough to meet your obligations. You can surrender more if you want to.</p>
                    {% else %}
                       <p>You need to surrender <strong>{{ data.etsSubmitEmmissions.total - data.etsSurrenderAllowance.totalAmountSurrendered | d(0) }}</strong> units to cover your emissions for 2018.</p> 
                       <ul class="govuk-list govuk-list--bullet">
                          <li>You need to do this before the deadline or [consequences]</li>
                          <li>You may also choose to surrender more than the required amount. </li>
                          <li>You can do this in multiple transactions.</li>
                       </ul>
                    {% endif %}
                {% else %}
                    <p>You have not yet declared you emissions but you can still surrender allowance.</p>
                    {% if data.etsSurrenderAllowance.totalAmountSurrendered > 0 %}
                    <p>You have already surrendered <strong>{{ data.etsSurrenderAllowance.totalAmountSurrendered }}</strong> allowances.</p>
                    {% endif %}
                {% endif %}
                {% set amountToSurrender %}
                    {{ govukInput({
                    id: "other-amount",
                    name: "etsSurrenderAllowance.amountToSurrender",
                    classes: "govuk-input--width-5 format-number",
                    label: {
                        text: "Enter amount to surrender"
                    },
                    hint: {
                        text:  'You have ' + installationData.holdings[0].generalAllowance | formatNumber + ' Allowances available.'
                    },
                    value: data.etsSurrenderAllowance.amountToSurrender
                    }) }}
                {% endset -%}

                {% if data.etsSubmitEmmissions.total %}
                    {% if data.etsSubmitEmmissions.total - data.etsSurrenderAllowance.totalAmountSurrendered <= 0 %} 
                        {{ amountToSurrender | safe }}
                    {% else %}
                        {{ govukRadios({
                          idPrefix: "surrender-method",
                          name: "etsSurrenderAllowance.surrenderMethod",
                          fieldset: {},
                          items: [
                            {
                              value: "fullAmount",
                              text: "Surrender the full amount",
                              checked: checked ("etsSurrenderAllowance.surrenderMethod", 'fullAmount')
                            },
                            {
                              value: "customAmount",
                              text: "Surrender a different amount",
                              checked: checked ("etsSurrenderAllowance.surrenderMethod", 'customAmount'),
                              conditional: {
                                html: amountToSurrender
                              }
                            }
                          ]
                        }) }}
                    {% endif %}
                {% else %}
                    {{ amountToSurrender | safe }}
                {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

{% endblock %}
{% block page_scripts %}
<script>
    var el = document.querySelector('.format-number');
    el.addEventListener('keyup', function (event) {
      if (event.which >= 37 && event.which <= 40) return;
      this.value = this.value
                      .replace(/\D/g, '')
                      .replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    });
</script>
{% endblock %}
