// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/accessible-autocomplete";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

//contact-details page in /apply-for-an-account

.show-hide-inset-text {
  display:none;
}
.govuk-button--as-link {
  &:link, &:active, &:visited, &:hover {
    background: govuk-colour('white');
    border: 0;
    color: $govuk-link-colour;
  }
  display: inline-block;
  margin-bottom: 15px;
  box-shadow: none;
  @include govuk-media-query($from: desktop) {
    padding-top: 10px;
    margin-bottom: 0;
  }
}

@for $i from 1 through 10 {
  .app-width-#{$i} {
    // width: 100%;
    // display: block;
    @include govuk-media-query($from: desktop) {
      width: #{$i*10%};
    }
  }
}

.govuk-table__row {
  &--strong-border {
    border-bottom: 2px solid govuk-colour('black')
  }
  .govuk-table__cell-hint {
    color: govuk-colour("grey-1");
    font-weight: normal;
  }
}
