{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
What type of account do you need?
{% endblock %}


{% block content %}


   <h1 class="govuk-heading-l">
     Check your answers
    </h1>

    <form class="form" method="post">
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Type of account holder"
            },
            value: {
              text: "502135326"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Type of account holder"
                }
              ]
            }
          },
          {
            key: {
              text: "Account holder name"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          },
          {
            key: {
              text: "VAT registration number"
            },
            value: {
              html: "32456"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "VAT registration number"
                }
              ]
            }
          },
          {
            key: {
              text: "Registered address"
            },
            value: {
              text: "72 Guild Street SE23 6FH"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Registered address"
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Create new account"
      }) }}

    </form>


{% endblock %}
