{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block pageTitle %}
What type of account do you need?
{% endblock %}


{% block content %}


   <h1 class="govuk-heading-l">
What type of account do you need?
    </h1>

    <form class="form" method="post">
      {{ govukRadios({
        idPrefix: "accountType",
        name: "createNewAccount.accountType",
        fieldset: {},
        items: [
          {
            value: "trading",
            text: "A trading account",
            checked: checked("createNewAccount.accountType",'trading')
          },
          {
            value: "installation",
            text: "An installation account",
            checked: checked("createNewAccount.accountType",'installation')
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


{% endblock %}
