{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block pageTitle %}
How is your organisation incorporated?
{% endblock %}


{% block content %}


   <h1 class="govuk-heading-l">
How is your organisation incorporated?
    </h1>

    <form class="form" method="post">
      {{ govukRadios({
        idPrefix: "orgType",
        name: "createNewOrganisation.orgType",
        fieldset: {},
        items: [
          {
            value: "soleTrader",
            text: "Sole Trader",
            checked: checked("createNewOrganisation.orgType",'soleTrader')
          },
          {
            value: "ltd",
            text: "Limited Company",
            checked: checked("createNewOrganisation.orgType",'ltd')
          },
          {
            value: "plc",
            text: "Public Limited Company",
            checked: checked("createNewOrganisation.orgType",'plc')
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


{% endblock %}
