{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% set installationID = '' %}
    {% set installationID = selectedInstallation.permitId %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
        {% if data.etsTransferAllowance.recipientType == 'existing' %}
        We've received your transfer request
        {% else %}
        You’ve completed and saved your organisation details.
        {% endif %}
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>EU580697</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">Continue to the next step</h2>
      <p>
        <a class='govuk-button' role="button" href='/register-your-organisation/task-list'>Return to the task list</a>
      </p>

    </div>
  </div>
{{installationID | dump(2)}}
{% endblock %}
