{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block pageTitle %}
  Register an organisation
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-l">
       Register your organisation
     </h1>
     <form class="form" method="post">
       <p>To take part in the Emission Trading Scheme, your organisation must apply to use to use the UK Emissions Trading Registry.</p>
       <p>You will be asked to provide address and contact details about your organisation, and VAT registration information.</p>
       {{ govukButton({
         text: "Continue"
       }) }}
     </form>
  </div>
</div>

{% endblock %}
