{% extends "layout.html" %}

{% set recipientType = data['ets-transfer-allowance']['select-recipient'] %}
{% set recipientURL = 'existing-recipient' if recipientType == 'existing' else 'new-recipient' %}
{% set goBackURL = 'existing-recipient' if recipientType == 'existing' else 'transfer-amount' %}
{% block pageTitle %}
  Confirm transfer to an existing recipient
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="{{recipientURL}}">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ data['ets-transfer-allowance']['installation'] }}</span>
        {% if recipientType == 'existing' %}
          Confirm transfer to an existing recipient
        {% elif recipientType == 'new' %}
           Confirm transfer to a new recipient
        {% endif %}
      </h1>


      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-5">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Recipient
          </dt>
          <dd class="app-check-your-answers__answer">
          {% if recipientType == 'existing' %}
            {{ data['ets-transfer-allowance']['recipient']}}
          {% elif recipientType == 'new' %}
            Polimeri Europa UK
          {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="{{recipientURL}}">
              Change<span class="govuk-visually-hidden"> recipient</span>
            </a>
          </dd>
        </div>
        {% if data['ets-transfer-allowance']['recipient'] != 'Choose a recipient' %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Recipient ID
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if recipientType == 'existing' %}
              EU-100-77739-1-31
            {% elif recipientType == 'new' %}
              {{ datadata['ets-transfer-allowance']['recepient-id'] }}
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
          </dd>
        </div>
        {% endif %}
      </dl>
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Amounts to transfer</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">&nbsp;</th>
        {% for emission, value in data['emissionAllowance'] %}
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">{{ (emission).split('-').join(" ") }}</th>
        {% endfor %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Amount</th>
          {% for emission, value in data['emissionAllowance'] %}
            <td class="govuk-table__cell govuk-table__cell--numeric">{{ value.started }}</td>
          {% endfor %}
        </tr>
        <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">New balance</th>
          {% for emission, value in data['emissionAllowance'] %}
            <td class="govuk-table__cell govuk-table__cell--numeric">{{ value.started - value.moved }}</td>
          {% endfor %}
          </tr>
        </tbody>
      </table>

      <p>Your transfer will be sent to another representative on your account to be approved.</p>
      {% if recipientType == 'new' %}
        {{ govukCheckboxes({
          idPrefix: "save-receipient",
          name: "ets-transfer-allowance['save-receipient']",
          fieldset: {},
          items: [
            {
              value: "yes",
              text: "Save this recipient so you can transfer to them again later"
            }
          ]
        }) }}
      {% endif %}

      {{ govukButton({
        html: "Go back and change<span class='govuk-visually-hidden'> amounts</span>",
        classes: 'govuk-button--as-link',
        href: goBackURL
      }) }}

      {{ govukButton({
        text: "Submit transfer and send for approval",
        href:"confirmation"
      }) }}

    </div>
    {% include "includes/sidebar.html" %}
  </div>
{% endblock %}
