{% extends "layout.html" %}

{% block pageTitle %}
  Transfer to an existing recipient
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="select-recipient">Back</a>
{% endblock %}


{% block content %}

<style>
input, select { display: block; }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ data['ets-transfer-allowance']['installation'] }}</span>
      Transfer to an existing recipient
    </h1>

    <form class="form" action="check-and-submit-transfer" method="post">
      {{ govukSelect({
          id: "recipient-select",
          name: "ets-transfer-allowance[recipient]",
          label: {
          text: "Select a recipient from the list"
          },
          items: [
          {
              text: 'Choose a recipient',
              value: 'choose a recipient',
              selected: checked("['ets-transfer-allowance']['recipient']",'choose a recipient')
          },
          {
              value: 'National Grid Gas plc',
              text: 'National Grid Gas plc, EU-100-8976-0-88',
              selected: checked("['ets-transfer-allowance']['recipient']",'National Grid Gas plc')
          },
          {
              value: 'Conoco Phillips',
              text: 'Conoco Phillips, EU-100-82543-0-87',
              selected: checked("['ets-transfer-allowance']['recipient']",'Conoco Phillips')
          },
          {
              value: 'Dalkia Utilities Services',
              text: 'Dalkia Utilities Services, EU-100-625343-0-99',
              selected: checked("['ets-transfer-allowance']['recipient']",'Dalkia Utilities Services')
          },
          {
              value: 'Perenco UK Ltd',
              text: 'Perenco UK Ltd EU-100-11674-0-56',
              selected: checked("['ets-transfer-allowance']['recipient']",'Perenco UK Ltd')
          },
          {
              value: 'Polimeri Europa UK Limited',
              text: 'Polimeri Europa UK Limited, EU-100-77732-0-76',
              selected: checked("['ets-transfer-allowance']['recipient']",'Polimeri Europa UK Limited')
          },
          {
              value: 'De La Rue International Ltd',
              text: 'De La Rue International Ltd, EU-100-63522-0-03',
              selected: checked("['ets-transfer-allowance']['recipient']",'De La Rue International Ltd')
          },
          {
              value: 'E.ON UK CHP Ltd',
              text: 'E.ON UK CHP Ltd, EU-100-99924-0-23',
              selected: checked("['ets-transfer-allowance']['recipient']",'E.ON UK CHP Ltd')
          },
          {
              value: 'Citigen (London) Ltd',
              text: 'Citigen (London) Ltd, EU-100-38476-0-24',
              selected: checked("['ets-transfer-allowance']['recipient']",'Citigen (London) Ltd')
          },
          {
              value: 'Procter & Gamble Product Supply (UK) Ltd',
              text: 'Procter & Gamble Product Supply (UK) Ltd, EU-100-4847-0-25',
              selected: checked("['ets-transfer-allowance']['recipient']",'Procter & Gamble Product Supply (UK) Ltd')
          }
          ]
      }) }}
      <h2 class="govuk-heading-m">Specify the amount for units you would like to transfer</h2>
      {% set selected = data['ets-transfer-allowance']['installation'] | trim %}
      {% for item in data['installations'] %}
        {% if selected == (item.name) | trim %}
        {% for item in item.emissionAllowance %}
          {% for type, value in item %}
          {{ govukInput({
            id: type,
            name: "emissionAllowance[" + type + "][moved]",
            label: {
              text: 'Amount of ' + type.split('-').join(" ") + ' units'
            },
            hint: {
              html: 'You will have <span id="newnumber"> ' + value + ' </span> units of ' + type.split('-').join(" ") +' after this transfer'
            },
            classes: "govuk-input--width-5 app-emmission-transfer",
            attributes: {
              'data-amount': value
            },
            value: data['emissionAllowance'][type]['moved']
          }) }}
          {{ govukInput({
            id: 'started'+type,
            name: "emissionAllowance[" + type + "][started]",
            value: value,
            type: 'hidden'
          }) }}
          {% endfor %}
          
        {% endfor %}  
        {% endif %}
      {% endfor %}
      {{ govukButton({
        text: "Continue"
      }) }}

      {{ govukInput({
        name: "recipient-type",
        type: 'hidden',
        value: 'existing'
      }) }}
    </form>
  </div>
  {% include "includes/sidebar.html" %}
</div>

{% endblock %}

{% block pageScripts %}
<script>
/* global $ */
  $(".app-emmission-transfer" ).each(function() {
    var $this = $(this);

    var number = $this.val();
    var amountYouHave = $this.data('amount')
    var amountYouWillHave;

    if ( number ) {
      amountYouWillHave = amountYouHave - number;
    } else if ( !number) {
      number = 0;
      amountYouWillHave = amountYouHave;
    }
    $this.find('#newnumber').text( amountYouWillHave );

    $this.on('input',function(e){
      number = $this.val();  
      if ( number ) {
        amountYouWillHave = amountYouHave - number;
      } else if ( !number ) {
        number = 0
      }
      $this.parent().find('#newnumber').text( amountYouWillHave );
    });
    
  });
      
</script>
{% endblock %}
