{% extends "layout.html" %}

{% block pageTitle %}
  Which installation do you want to transfer emissions from?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="2fa">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="select-recipient" method="post">
        {{ govukRadios({
          idPrefix: "select-installation",
          name: "ets-transfer-allowance[installation]",
          fieldset: {
            legend: {
              text: "Which installation do you want to transfer emissions from?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Nevern Power Limited",
              text: "Nevern Power Limited (EU-100-73432-0-76)",
              checked: checked ("['ets-transfer-allowance']['installation']", 'Nevern Power Limited'), 
              hint: {
                text: "52,834 units of general allowance"
              }
            },
            {
              value: "Scunthorpe Integrated Iron & Steel Works",
              text: "Scunthorpe Integrated Iron & Steel Works (EU-100-82345-0-76)",
              checked: checked ("['ets-transfer-allowance']['installation']", 'Scunthorpe Integrated Iron & Steel Works'),
              hint: {
                html: "23,871 units of general allowance<br/>138 units of CERs<br/> 20 units of ERUS"
              }
            },
            {
              value: "Port Talbot Steelworks",
              text: "Port Talbot Steelworks (EU-100-73104-0-76)",
              checked: checked ("['ets-transfer-allowance']['installation']", 'Port Talbot Steelworks'),
              hint: {
                text: "1,406 units of general allowance"
              }
            },
            {
              value: "Lynemouth Power Station",
              text: "Lynemouth Power Station (EU-100-77732-0-76)",
              checked: checked ("['ets-transfer-allowance']['installation']", 'Lynemouth Power Station'),
              hint: {
                text: "10,473 units of general allowance"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
