{% extends "layouts/admin/base.html" %}

{% block pageTitle %}List for hearing {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ hmctsIdentityBar({
  title: {
    html: casebar.parties
  }
}) }}

<div class="jui-width-container">

  {{ govukBackLink({
    text: 'Back',
    href: backLink.href
  }) }}

  <main class="govuk-main-wrapper" role="main">

    <h1 class="govuk-heading-xl">List for hearing</h1>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukTextarea({
            id: 'hearing-notes',
            name: 'hearing-notes',
            label: {
              text: 'Hearing notes (optional)',
              classes: 'govuk-label--m'
            },
            value: data['hearing-notes']
          }) }}

          {{ govukButton({
            text: 'Continue'
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}