{% extends "layouts/admin/base-account-question.html" %}

{% block pageTitle %}
  Transfer to a trusted account
{% endblock %}

{% block content %}

<style>
input, select { display: block; }
</style>
{{etsTransferAllowance.recipientType}}
      <h1 class="govuk-heading-l">
          Transfer to
        {% if data.etsTransferAllowance.recipientType == 'existing' %}
          a trusted
        {% elif data.etsTransferAllowance.recipientType == 'new' %}
        a new
        {% endif %}
        account
      </h1>

    <form class="form" action="amount" method="post">

        {% if data.etsTransferAllowance.recipientType == 'existing' %}
          {{ govukSelect({
              id: "recipient-select",
              name: "etsTransferAllowance.recipient",
              label: {
              text: "Select a trusted account from the list"
              },
              items: [
              {
                  text: 'Choose a trusted account',
                  value: '',
                  selected: checked("etsTransferAllowance.recipient",'')
              },
              {
                  value: 'National Grid Gas plc, EU-100-8976-0-88',
                  text: 'National Grid Gas plc, EU-100-8976-0-88',
                  selected: checked("etsTransferAllowance.recipient",'National Grid Gas plc, EU-100-8976-0-88')
              },
              {
                  value: 'Conoco Phillips, EU-100-82543-0-87',
                  text: 'Conoco Phillips, EU-100-82543-0-87',
                  selected: checked("etsTransferAllowance.recipient",'Conoco Phillips, EU-100-82543-0-87')
              },
              {
                  value: 'Dalkia Utilities Services, EU-100-625343-0-99',
                  text: 'Dalkia Utilities Services, EU-100-625343-0-99',
                  selected: checked("etsTransferAllowance.recipient",'Dalkia Utilities Services, EU-100-625343-0-99')
              },
              {
                  value: 'Perenco UK Ltd, EU-100-11674-0-56',
                  text: 'Perenco UK Ltd, EU-100-11674-0-56',
                  selected: checked("etsTransferAllowance.recipient",'Perenco UK Ltd, EU-100-11674-0-56')
              },
              {
                  value: 'Polimeri Europa UK Limited, EU-100-77732-0-76',
                  text: 'Polimeri Europa UK Limited, EU-100-77732-0-76',
                  selected: checked("etsTransferAllowance.recipient",'Polimeri Europa UK Limited, EU-100-77732-0-76')
              },
              {
                  value: 'De La Rue International Ltd, EU-100-63522-0-03',
                  text: 'De La Rue International Ltd, EU-100-63522-0-03',
                  selected: checked("etsTransferAllowance.recipient",'De La Rue International Ltd, EU-100-63522-0-03')
              },
              {
                  value: 'E.ON UK CHP Ltd, EU-100-99924-0-23',
                  text: 'E.ON UK CHP Ltd, EU-100-99924-0-23',
                  selected: checked("etsTransferAllowance.recipient",'E.ON UK CHP Ltd, EU-100-99924-0-23')
              },
              {
                  value: 'Citigen (London) Ltd, EU-100-38476-0-24',
                  text: 'Citigen (London) Ltd, EU-100-38476-0-24',
                  selected: checked("etsTransferAllowance.recipient",'Citigen (London) Ltd, EU-100-38476-0-24')
              },
              {
                  value: 'Procter & Gamble Product Supply (UK) Ltd, EU-100-4847-0-25',
                  text: 'Procter & Gamble Product Supply (UK) Ltd, EU-100-4847-0-25',
                  selected: checked("etsTransferAllowance.recipient",'Procter & Gamble Product Supply (UK) Ltd, EU-100-4847-0-25')
              }
              ]
          }) }}
        {% elif data.etsTransferAllowance.recipientType == 'new' %}

<div class="govuk-form-group">
  <label class="govuk-label" for="unit-type">
        To:
  </label>
  <p>
  {{ data.etsTransferAllowance.recepientId }} ({{ data.etsTransferAllowance.nickname }})
        <br />
        <a href="#" onclick="javascript:history.go(-1)">Change</a>
  </p>
</div>
        {% endif %}

<div class="govuk-form-group">
  <label class="govuk-label" for="available-unit-types">
    Select which type of unit you want to transfer
  </label>
  <select class="govuk-select" id="available-unit-types" name="etsTransferAllowance.unitType" >
          <option value="" {{ 'selected' if checked('etsTransferAllowance.unitType', '') }}>Choose unit</option>
        {% for item in installationData.holdings %}
          {% for unit, value in item %}
           {% set unitDisplayName = 'allowance' if unit == 'generalAllowance' else unit %}
            <option value="{{ unit }}" {{ 'selected' if checked('etsTransferAllowance.unitType', unit) }}>{{ unitDisplayName }}</option>
          {% endfor %}
        {% endfor %}
  </select>
</div>
        {% for item in installationData.holdings %}
          {% for type, value in item %}
          {% set unitDisplayName = 'allowance' if type == 'generalAllowance' else type %}
          <div id="unit-{{ type }}">
            {{ govukInput({
              id: type,
              name: "etsTransferAllowance.holdings." + type + ".moved",
              label: {
                text: 'Enter the number of units you want to transfer'
              },
              hint: {
                html: 'You will have <span id="newnumber"> ' + value | formatNumber + ' </span> ' + unitDisplayName +' after this transfer'
              },
              classes: "govuk-input--width-5 app-emmission-transfer",
              attributes: {
                'data-amount': value
              },
              value: data.etsTransferAllowance.holdings[type].moved
            }) }}
            {{ govukInput({
              id: 'started'+type,
              name: "etsTransferAllowance.holdings." + type + ".started",
              value: value,
              type: 'hidden'
            }) }}
          </div>
          {% endfor %}
        {% endfor %}
      {{ govukButton({
        text: "Continue"
      }) }}

      <!-- Does this need to be here if it's being set on the previous page -->
    </form>

{% endblock %}

{% block page_scripts %}
<script>
/* global $ */
  $(".app-emmission-transfer" ).each(function() {
    var $this = $(this);

    var number = $this.val();
    var amountYouHave = $this.data('amount')
    var amountYouWillHave;

    if ( number ) {
      amountYouWillHave = amountYouHave - number;
    } else if ( !number) {
      number = 0;
      amountYouWillHave = amountYouHave;
    }
    $this.find('#newnumber').text( amountYouWillHave );

    $this.on('input',function(e){
      number = $this.val();
      if ( number ) {
        amountYouWillHave = amountYouHave - number;
      } else if ( !number ) {
        number = 0
      }
      $this.parent().find('#newnumber').text( amountYouWillHave.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') );
    });

  });

  // show unit entry form base on selected option
  $('[id^=unit]').css('display', 'none')
  var selectedOption = $('#available-unit-types option:selected').val()
  if (selectedOption !== '') {
    $('#unit-' + selectedOption).show();
  }
  $('#available-unit-types').change(function(){
      $('[id^=unit]').hide();
      $('#unit-' + $(this).val()).show();
  });

</script>
{% endblock %}
