{% extends "layouts/admin/base-account-question.html" %}

{% set recipientURL = 'existing-recipient' if data.etsTransferAllowance.recipientType == 'existing' else 'new-recipient' %}
{% block pageTitle %}
  Confirm transfer to a trusted account
{% endblock %}

{% block content %}

      <h1 class="govuk-heading-l">
          Confirm transfer to
        {% if data.etsTransferAllowance.recipientType == 'existing' %}
          a trusted
        {% elif data.etsTransferAllowance.recipientType == 'new' %}
        a new
        {% endif %}
        account
      </h1>


      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->

      <form class="form" action="check-and-submit-transfer" method="post">
      <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-5">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            From
          </dt>
          <dd class="app-check-your-answers__answer">
            {{installationData.name}} <br/>{{installationID}}
          </dd>
          <dd class="app-check-your-answers__change">
          </dd>
        </div>
        {% if data.etsTransferAllowance.recipient != '' %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">

            To

          </dt>
          <dd class="app-check-your-answers__answer">
          {% if data.etsTransferAllowance.recipientType == 'existing' %}
              {{ data.etsTransferAllowance.recipient | replace(",", "<br />") | safe }}
          {% elif data.etsTransferAllowance.recipientType == 'new' %}
            {{ data.etsTransferAllowance.recepientId }}
          {% endif %}
          {% if data.etsTransferAllowance.nickname %} ({{data.etsTransferAllowance.nickname}}){% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
        <a href="#" onclick="javascript:history.go(-1)">Change
              <span class="govuk-visually-hidden"> recipient</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">

            Amount

          </dt>
          <dd class="app-check-your-answers__answer">
            {% for unit, value in data.etsTransferAllowance.holdings %}
                {% set unitDisplayName = 'allowance' if unit == 'generalAllowance' else unit %}
                {% if unit == data.etsTransferAllowance.unitType %}
                {{ value.moved | formatNumber }}<span class="govuk-hint">{{ unitDisplayName }}s</span>
                {% endif %}
            {% endfor %}
          </dd>
          <dd class="app-check-your-answers__change">
        <a href="#" onclick="javascript:history.go(-1)">Change
              <span class="govuk-visually-hidden"> amount</span>
            </a>
          </dd>
        </div>
<div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">

            Notes

          </dt>
          <dd class="app-check-your-answers__answer">
          {{ data.etsTransferAllowance.notes | safe}}
          </dd>
          <dd class="app-check-your-answers__change">
        <a href="#" onclick="javascript:history.go(-1)">Change
              <span class="govuk-visually-hidden"> amount</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      <p>After this transaction, your balance will be
          {% for unit, value in data.etsTransferAllowance.holdings %}
            {% set unitDisplayName = 'allowance' if unit == 'generalAllowance' else unit %}
            {% if unit == data.etsTransferAllowance.unitType %}
            <strong>{{ (value.started - value.moved) | formatNumber }}</strong> {{ unitDisplayName }}s.
            {% endif %}
          {% endfor %}
      </p>


      <p>Your transfer request has been sent to the authorised representatives for approval.</p>
      {% if data.etsTransferAllowance.recipientType == 'new' %}
        {{ govukCheckboxes({
          idPrefix: "save-receipient",
          name: "etsTransferAllowance.saveReceipient",
          fieldset: {},
          items: [
            {
              value: "yes",
              text: "Save their details to make future transfers to them faster"
            }
          ]
        }) }}
      {% endif %}


      {{ govukButton({
        text: "Request transfer"
      }) }}

{% endblock %}
