{% extends "layouts/admin/base-account-question.html" %}

{% set recipientType = data['ets-transfer-allowance']['select-recipient'] %}
{% set installationID = '' %}
    {% set installationID = selectedInstallation.permitId %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
        {% if recipientType == 'existing' %}
        Your proposed transfer has been submitted.
        {% else %}
        We have received your submission for a transfer
        {% endif %}
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>EU580697</strong>
        </div>
      </div>
      {{ govukInsetText({
        html: "Visit account page to <a class='govuk-link' href='/account/" + installationData.permitId +"/?userPersona=approver'>check the transaction</a>."
      }) }}
      <h2 class="govuk-heading-m"> What happens next</h2>
      {% if recipientType == 'existing' %}
        <p>
          We have sent you a confirmation email about your transfer. We have notified all representatives on your account who can approve this transfer.
        </p>

        <p>
          Once another representative has approved this transfer it will take 26 hours for the allowances to arrive in your recipient's account.
        </p>
      {% else %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Your transfer will need to be approved.
        </strong>
      </div>

      <p>We've sent a notification of your proposed transfer to representatives for this account. Once approved, the transfer will take 26 hours to be completed. The 26 hours will only start during business hours.<p/>
      {% endif %}

      <p>Learn more about <a href="https://www.gov.uk/guidance/eu-ets-allowances">how to get more allowances</a>.</p>


    </div>
  </div>
{{installationID | dump(2)}}
{% endblock %}
