{% extends "layouts/admin/base-account-question.html" %}

{% set installationID = '' %}
    {% set installationID = selectedInstallation.permitId %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
        {% if data.etsTransferAllowance.recipientType == 'existing' %}
        We've received your transfer request
        {% else %}
        We've received your transfer request
        {% endif %}
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>{{data.etsTransferAllowance.transactionID}}</strong>
        </div>
      </div>
      {{ govukInsetText({
        html: "Visit the account page to <a class='govuk-link' href='/account/" + installationData.permitId +"/'>view the transaction</a>."
      }) }}
      <h2 class="govuk-heading-m"> What happens next</h2>
      {% if data.etsTransferAllowance.recipientType == 'existing' %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Your transfer is awaiting approval.
        </strong>
      </div>
        <p>
          We've sent your transfer request to the authorised representatives for approval.</p>
          <p>Once approved, transfers will be made immediately on working days between 10am and 4pm CET. Outside these hours, it will be held until the next working day.

        </p>


      {% else %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Your transfer is awaiting approval.
        </strong>
      </div>

      <p>We've sent your transfer request to the account representatives for approval.</p>
        <p>Once approved, transfers between 10am and 4pm CET working days will be made immediately. Outside these hours, it will be held until the next working period.<p/>
      {% endif %}




    </div>
  </div>
{{installationID | dump(2)}}
{% endblock %}
