{% extends "layouts/admin/base-account-question.html" %}

{% block pageTitle %}
  Who do you want to transfer allowance to?
{% endblock %}

{% block content %}

<style>
input, select { display: block; }
</style>

    <form class="form" action="add-nickname" method="post">
      {% call govukFieldset({
        legend: {
          text: "Who do you want to transfer allowances to?",
          classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6",
          isPageHeading: true
        }
      }) %}

      {{ govukInput({
        label: {
          text: "Account ID of recipient"
        },
        hint: {
          text: "eg 'EU-100-47639-0-78'"
        },
        id: "recepient-id",
        name: "etsTransferAllowance.recepientId",
        classes: 'govuk-input--width-10',
        value: data.etsTransferAllowance.recepientId
      }) }}

      {{ govukDetails({
        summaryText: "Help with installation ID",
        text: "The person you are transferring to should provide you with an Account ID. This can be found on their Accounts page."
      }) }}

      {{ govukButton({
        text: "Search for recipient"
      }) }}

      {{ govukInput({
        name: "etsTransferAllowance.recipientType",
        type: 'hidden',
        value: 'new'
      }) }}
      {% endcall %}
    </form>

{% endblock %}
