{% extends "layouts/admin/base-account-question.html" %}

{% block pageTitle %}
Select recipient
{% endblock %}


{% block content %}


   <h1 class="govuk-heading-l">
  Make a transfer
    </h1>

    <form class="form" action="select-recipient" method="post">
      {{ govukRadios({
        idPrefix: "recipientType",
        name: "etsTransferAllowance.recipientType",
        fieldset: {},
        items: [
          {
            value: "existing",
            text: "To a trusted account",
            checked: checked("etsTransferAllowance.recipientType",'existing')
          },
          {
            value: "new",
            text: "To a non trusted account",
            checked: checked("etsTransferAllowance.recipientType",'new')
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


{% endblock %}
