{% extends "layouts/admin/casefile-divorce.html" %}

{% block file_content %}

  <div class="jui-casefile-page-content" data-page="1">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      <h2 class="govuk-heading-l">Application for decree nisi</h2>

      <p class="govuk-body">David Francis is applying to the court for a decree of divorce from Susan Francis.</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Issued</h4>
      <p class="govuk-!-margin-top-0">18 February 2018</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Case number</h4>
      <p class="govuk-!-margin-top-0">BV18D00150</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Petitioner</h4>
      <p class="govuk-!-margin-top-0">David Francis</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Respondent</h4>
      <p class="govuk-!-margin-top-0">Susan Francis</p>

      <h3 class="govuk-heading-m  govuk-!-margin-top-6">About the marriage</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Who the marriage is between</h4>
      <p class="govuk-!-margin-top-0">David Francis and Susan Francis (as shown on the marriage certificate)</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Where the marriage took place</h4>
      <p class="govuk-!-margin-top-0">London, England, United Kingdom</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Date of marriage</h4>
      <p class="govuk-!-margin-top-0">1 January 2014 (4 years 3 months)</p>

      <h3 class="govuk-heading-m  govuk-!-margin-top-6">Why the court can deal with the case (jurisdiction)</h3>

      <p>The applicant and respondent are habitually resident in England and Wales.</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Other court cases that could affect juristiction</h4>
      <p class="govuk-!-margin-top-0">There are no other ongoing, completed or abandoned court cases related to the marriage, property or children.</p>

    </div>

  </div>

  <div class="jui-casefile-page-content" data-page="2">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      <h2 class="govuk-heading-l">Application for decree nisi</h2>

      <p class="govuk-body">David Francis is applying to the court for a decree of divorce from Susan Francis.</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Issued</h4>
      <p class="govuk-!-margin-top-0">18 February 2018</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Case number</h4>
      <p class="govuk-!-margin-top-0">BV18D00150</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Petitioner</h4>
      <p class="govuk-!-margin-top-0">David Francis</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Respondent</h4>
      <p class="govuk-!-margin-top-0">Susan Francis</p>

      <h3 class="govuk-heading-m  govuk-!-margin-top-6">About the marriage</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Who the marriage is between</h4>
      <p class="govuk-!-margin-top-0">David Francis and Susan Francis (as shown on the marriage certificate)</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Where the marriage took place</h4>
      <p class="govuk-!-margin-top-0">London, England, United Kingdom</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Date of marriage</h4>
      <p class="govuk-!-margin-top-0">1 January 2014 (4 years 3 months)</p>

      <h3 class="govuk-heading-m  govuk-!-margin-top-6">Why the court can deal with the case (jurisdiction)</h3>

      <p>The applicant and respondent are habitually resident in England and Wales.</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Other court cases that could affect juristiction</h4>
      <p class="govuk-!-margin-top-0">There are no other ongoing, completed or abandoned court cases related to the marriage, property or children.</p>

    </div>

  </div>

  <div class="jui-casefile-page-content" data-page="3">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      <h2 class="govuk-heading-l">Application for decree nisi</h2>

      <p class="govuk-body">David Francis is applying to the court for a decree of divorce from Susan Francis.</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Issued</h4>
      <p class="govuk-!-margin-top-0">18 February 2018</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Case number</h4>
      <p class="govuk-!-margin-top-0">BV18D00150</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Petitioner</h4>
      <p class="govuk-!-margin-top-0">David Francis</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Respondent</h4>
      <p class="govuk-!-margin-top-0">Susan Francis</p>

      <h3 class="govuk-heading-m  govuk-!-margin-top-6">About the marriage</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Who the marriage is between</h4>
      <p class="govuk-!-margin-top-0">David Francis and Susan Francis (as shown on the marriage certificate)</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Where the marriage took place</h4>
      <p class="govuk-!-margin-top-0">London, England, United Kingdom</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Date of marriage</h4>
      <p class="govuk-!-margin-top-0">1 January 2014 (4 years 3 months)</p>

      <h3 class="govuk-heading-m  govuk-!-margin-top-6">Why the court can deal with the case (jurisdiction)</h3>

      <p>The applicant and respondent are habitually resident in England and Wales.</p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Other court cases that could affect juristiction</h4>
      <p class="govuk-!-margin-top-0">There are no other ongoing, completed or abandoned court cases related to the marriage, property or children.</p>

    </div>

  </div>

{% endblock %}