{% extends "layout.html" %}

{% block pageTitle %}
Choose a password
{% endblock %}

{% block signedInContent %}
<!-- Don't show anything because we're not signed in at this point -->
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href=""<a href="" onclick="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<style>
input, select { display: block; }
</style>

   <h1 class="govuk-heading-l">
     Choose a password
    </h1>
    <form class="form" method="post">
      {{ govukInput({
        label: {
          text: "Choose a password"
        },
        id: "password",
        name: "userRegistration.password",
        hint: {
          text: "Use a strong password."
        },
        classes: 'govuk-input--width-10',
        value: data.userRegistration.password,
        type: 'password'
      }) }}

      {{ govukInput({
        label: {
          text: "Re-enter your password"
        },
        id: "passwordRepeat",
        name: "",
        classes: 'govuk-input--width-10',
        type: 'password'
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
</div>
</div>
{% endblock %}
