{% extends "layout.html" %}

{% set installationID = '' %}
    {% set installationID = selectedInstallation.permitId %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
         Your user account has been created.
        </h1>
      </div>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You have been sent <a style='text-decoration: none; color: black;' class='govuk-link' href='email-client-simulator'>an email</a>. Click the link in the email to verify your account.</p>

      <p>You can use your account to <a href= "/login-register?continue_url=/register-your-organisation/task-list"> register your organisation </a> for the UK Emissions Trading Registry or request your administrator to add you to an existing account.</p>
    </div>
  </div>
  </div>
</div>
{% endblock %}
