{% extends "layout.html" %}

{% set installationID = '' %}
    {% set installationID = selectedInstallation.permitId %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
         Check your email
        </h1>
      </div>
      <h2 class="govuk-heading-m">Your account has been created.</h2>
      <p>You have been sent <a style='text-decoration: none; color: black;' class='govuk-link' href='email-client-simulator'>an email</a>. Click the link in the email to verify your account.</p>
    </div>
  </div>
  </div>
</div>
{% endblock %}
