<img src="{{ asset_path }}/images/gmail-chrome.png" />
<div style="position: absolute; top: 232px; left: 411px; font-family: Helvetica, Arial, sans-serif; width: 400;">
  <p>Hi {{ data.fullName | default("Chris", true) }},</p>
  <p>Your user account on the UK Emissions Trading Registry has been created.</p><p> Click the link below to verify your email address and continue setting up your account.</p>
  <p><a href= "/login-register?emailVerified=Yes&persist=No">Continue setting up your account</a></p>
</div>
