{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
What type of account do you need?
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   <h1 class="govuk-heading-l">
     Check your answers
    </h1>

    <form class="form" method="post">
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: "502135326"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "first name"
                }
              ]
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "last name"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "last name"
                }
              ]
            }
          },


  {
    key: {
      text: "
          Document uploaded"
    },
    value: {
      text: "
        Document uploaded"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "
            Document uploaded"
        }
      ]
    }
  },

  {
    key: {
      text: "
        Document identification number"
    },
    value: {
      text: "
        Document identification number"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "
            Document identification number"
        }
      ]
    }
  },

  {
    key: {
      text: "
        Document expiry date"
    },
    value: {
      text: "
      Document expiry date"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "
          Document expiry date"
        }
      ]
    }
  },

  {
    key: {
      text: "Country of birth"
    },
    value: {
      text: "Country of birth"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "Country of birth"
        }
      ]
    }
  },

  {
    key: {
      text: "  Type of identification document"
    },
    value: {
      text: "  Type of identification document"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "  Type of identification document"
        }
      ]
    }
  },

  {
    key: {
      text: "Place of birth"
    },
    value: {
      text: "Place of birth"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "Place of birth"
        }
      ]
    }
  },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "DOB"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Create new account"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
