{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% set installationID = '' %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          Your two-factor authentication is setup
        </h1>
      </div>
      {% if data.registrationJourney == "organisationOnboarding" %}
      <p>Visit the account page to <a class='govuk-link' href='/register-your-organisation/task-list'>continue registering your organisation with the UK ETS Registry</a>.</p>
      {% else %}
      <p>Visit the account page to <a class='govuk-link' href='/user-registration/start'>provide details about yourself</a>.</p>
      {% endif %}




    </div>
  </div>
 </div>
 </div>
{% endblock %}
