{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Reject consent order reason {{'- ' + serviceName}}{% endblock %}

{% block content %}

  {{ hmctsIdentityBar({
    title: {
      html: casebar.parties
    }
  }) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          {% if errors %}
            {{ govukErrorSummary({
              titleText: 'There is a problem',
              errorList: errors
            }) }}
          {% endif %}

          <form method="post">

            {{ govukTextarea({
              id: 'reject-notes',
              name: 'reject-notes',
              label: {
                text: 'Reason',
                isPageHeading: true,
                classes: 'govuk-label--xl'
              },
              hint: {
                text: 'This will be sent to the parties.'
              },
              value: data['reject-notes']
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

		</main>

	</div>

{% endblock %}