{% extends "layout.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
What type of account do you need?
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Check your answers
    </h1>
    <form class="form" method="post">
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: data.userRegistration.fullName
            },
            actions: {
              items: [
                {
                  href: "full-name",
                  text: "Change",
                  visuallyHiddenText: "full name"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data.userRegistration.phoneNumber
            },
            actions: {
              items: [
                {
                  href: "contact-number",
                  text: "Change",
                  visuallyHiddenText: "phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              text: data.userRegistration.address
            },
            actions: {
              items: [
                {
                  href: "uk-address",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: data.userRegistration.dateOfBirth.day +'/'+ data.userRegistration.dateOfBirth.month +'/'+ data.userRegistration.dateOfBirth.year
            },
            actions: {
              items: [
                {
                  href: "country-and-date-of-birth",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Country of birth"
            },
            value: {
              text: data.userRegistration.countryOfBirth
            },
            actions: {
              items: [
                {
                  href: "country-and-date-of-birth",
                  text: "Change",
                  visuallyHiddenText: "country of birth"
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Create your account"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
