{% extends "layout.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
What type of account do you need?
{% endblock %}


{% block content %}


   <h1 class="govuk-heading-l">
     Check your answers
    </h1>

    <form class="form" method="post">
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "-"
            },
            value: {
              text: "-"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "-"
                }
              ]
            }
          },
          {
            key: {
              text: "-"
            },
            value: {
              text: "-"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "-"
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Create new account"
      }) }}

    </form>


{% endblock %}
