{% extends "layout.html" %}

{% set installationID = '' %}
    {% set installationID = selectedInstallation.permitId %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          We've received your user registration 
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>EU070543</strong>
        </div>
      </div>
      <h2 class="govuk-heading-m"> What happens next</h2>
      <p>
      The details you've provided will be checked and you will be sent an email when this is complete. 
      </p><p>
      You will then need to send copies of official documents to the Registry so that an identity check can be completed.
      You will receive an email within 7 days explaining which documents are required and instructions on where to send them. 
      </p><p>
      After submitting your documents it can take up to two months for them to be processed. 
      After they have been checked you will be able to start using the registry.
      At that time you should contact an account administrator in your organisation to request access to relevant accounts.
      </p>
      <h2 class="govuk-heading-m">If you are the administrator for an organisation</h2>
      <p>
      If your organisation is not yet set up on the Registry, you can <a class='govuk-link' href='/register-your-organisation/task-list'>begin the registration process</a> for your organisation now.
      </p>
    </div>
  </div>
{% endblock %}
