{% extends "layout.html" %}

{% set installationID = '' %}
    {% set installationID = selectedInstallation.permitId %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          Registration details submitted
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>EU580697</strong>
        </div>
      </div>
      <h2 class="govuk-heading-m"> What happens next</h2>
      {% if data.registrationJourney == "organisationOnboarding" %}
      <p>The details you've provided will be checked and you will be sent an email when this is complete. You will then be able to use the account to submit emissions data and trade allowances. This process can take up to 2 months.</p>
      <p>In the meantime you can <a class='govuk-link' href='/register-your-organisation/task-list'>continue setting up your organisation</a>.
      </p>
      {% else %}
      <p>The details you've provided will be checked by an administrator and you will be sent an email when the account is activated and ready for you to use. This process can take up to 2 months</p>
      {% endif %}
    </div>
  </div>
{{installationID | dump(2)}}
{% endblock %}
