{% extends "layout.html" %}

{% set installationID = '' %}
    {% set installationID = selectedInstallation.permitId %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          We've received your user registration 
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>EU070543</strong>
        </div>
      </div>
      <h2 class="govuk-heading-m"> What happens next</h2>
      <p>
      The details you've provided will be checked and you will be sent an email when this is complete. 
      You will then be able to use your account to submit emissions data and trade allowances for registry you have been invited to.
      This process can take up to 2 months.</p>
      <p>Ask your administrator to invite you to a registry account so that you can do this.</p>
      <p>
      Alternatively, if you will be the administrator for your organisation you can <a class='govuk-link' href='/register-your-organisation/task-list'>set up your organisation</a> with the registry.
      </p>
    </div>
  </div>
{% endblock %}
