{% extends "layout.html" %}

{% block pageTitle %}
  Your identification details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="country-and-date-of-birth">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your identification details</h1>
    <p>You must provide a scanned image of one of the following identification documents. You will be asked to upload the scan later in the application.</p>

      <form method="POST">

      {% call govukFieldset({
        legend: {
          text: "Select the type of your identification document",
          classes: "govuk-fieldset__legend--m",
          isPageHeading: false
        }
      }) %}

        {{ govukRadios({
          idPrefix: "identificationDocument",
          name: "userRegistration.identificationDocumentType",
          items: [
            {
              value: "passport",
              text: "Passport",
              checked: checked("userRegistration.identificationDocumentType", "passport")
            },
            {
              value: "drivingLicence",
              text: "Driving licence",
              checked: checked("userRegistration.identificationDocumentType", "drivingLicence")
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Document identification number</h2>
        {{ govukInput({
          id: "id-identificationDocumentNumber",
          name: "userRegistration.identificationDocumentNumber",
          classes: "govuk-input--width-20", 
          label: {
            text: "Enter the document number"
          },
          value: data.userRegistration.identificationDocumentNumber
        }) }}

        {{ govukDateInput({
          name: "userRegistration.identificationDocumentExpiryDate",
          fieldset: {
            legend: {
              text: "Document expiry date",
              isPageHeading: false,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          hint: {
            text: "For example, 31 3 2024"
          },
          items: [
            {
              classes: "govuk-input--width-2",
              id: "userRegistration.identificationDocumentExpiryDate.day",
              label: 'Day',
              name: "userRegistration.identificationDocumentExpiryDate.day",
              value: data.userRegistration.identificationDocumentExpiryDate.day
            },
            {
              classes: "govuk-input--width-2",
              label: "Month",
              name: "userRegistration.identificationDocumentExpiryDate.month",
              value: data.userRegistration.identificationDocumentExpiryDate.month
            },
            {
              classes: "govuk-input--width-4",
              label: "Year",
              name: "userRegistration.identificationDocumentExpiryDate.year",
              value: data.userRegistration.identificationDocumentExpiryDate.year
            }
            ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      {% endcall %}
      </form>
    </div>
  </div>

{% endblock %}
