{% extends "layouts/admin/base-account-question.html" %}

{% block pageTitle %}
  Account details
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Add a trusted account</h1>
      <form action='account-details' method="POST">
      {% if errorExists %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Account ID is incorrect",
              href: "#account-id"
            }
          ]
        }) }}
        {{ govukInput({
          id: "account-id",
          name: "newTrustedAccount.id",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Enter the account ID"
          },
          hint: {
            text: 'For example EU-100-38476-0-XX'
          },
          errorMessage: {
            "text": "Enter a valid account ID"
          },
          value: data.newTrustedAccount.id
        }) }}
      {% else %}
        {{ govukInput({
          id: "account-id",
          name: "newTrustedAccount.id",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Enter the account ID"
          },
          hint: {
            text: 'For example EU-100-38476-0-XX'
          },
          value: data.newTrustedAccount.id
        }) }}
      {% endif %}
      {{ govukButton({
          text: "Continue"
        }) }}
      </form>

{% endblock %}
