{%- block top_of_page %}{% endblock %}
{%- from "back-link/macro.njk" import govukBackLink %}
{%- from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "button/macro.njk" import govukButton %}
{%- from "date-input/macro.njk" import govukDateInput %}
{%- from "details/macro.njk" import govukDetails %}
{%- from "error-message/macro.njk" import govukErrorMessage %}
{%- from "error-summary/macro.njk" import govukErrorSummary %}
{%- from "fieldset/macro.njk" import govukFieldset %}
{%- from "file-upload/macro.njk" import govukFileUpload %}
{%- from "input/macro.njk" import govukInput %}
{%- from "label/macro.njk" import govukLabel %}
{%- from "panel/macro.njk" import govukPanel %}
{%- from "phase-banner/macro.njk" import govukPhaseBanner %}
{%- from "select/macro.njk" import govukSelect %}
{%- from "skip-link/macro.njk" import govukSkipLink %}
{%- from "table/macro.njk" import govukTable %}
{%- from "tag/macro.njk" import govukTag %}
{%- from "textarea/macro.njk" import govukTextarea %}
{%- from "warning-text/macro.njk" import govukWarningText %}
{%- from "checkboxes/macro.njk" import govukCheckboxes %}
{%- from "radios/macro.njk" import govukRadios %}
{%- from "tabs/macro.njk" import govukTabs %}
{%- from "inset-text/macro.njk" import govukInsetText %}

{%- from "timeline/macro.njk" import hmctsTimeline %}
{%- from "global-header/macro.njk" import hmctsGlobalHeader %}
{%- from "global-footer/macro.njk" import hmctsGlobalFooter %}
{%- from "primary-navigation/macro.njk" import hmctsPrimaryNavigation %}
{%- from "sub-navigation/macro.njk" import hmctsSubNavigation %}
{%- from "banner/macro.njk" import hmctsBanner %}
{%- from "search/macro.njk" import hmctsSearch %}
{%- from "pagination/macro.njk" import hmctsPagination %}

{%- from "status/macro.njk" import juiStatus %}
{%- from "information-panel/macro.njk" import juiInformationPanel %}
{%- from "case-actions/macro.njk" import juiCaseActions %}
{%- from "casebar/macro.njk" import juiCasebar %}
{%- from "document/macro.njk" import juiDocument %}
{%- from "identity-bar/macro.njk" import hmctsIdentityBar %}
{%- from "filter/macro.njk" import hmctsFilter %}
{%- from "page-header-with-actions/macro.njk" import hmctsPageHeaderWithActions %}
{%- from "menu/macro.njk" import hmctsMenu %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>
      {%- if hasValidationErrors %}Error: {% endif %}
      {%- block pageTitle %}{% endblock -%}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}

    {%- block headIcons %}
    <link rel="shortcut icon" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/govuk-mask-icon.svg" color="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon.png">
    {% endblock -%}

    {% block head %}
    <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet"><!--<![endif]-->
    {% endblock -%}

    {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
    <meta property="og:image" content="{{ assetPath | default('/assets') }}/images/govuk-opengraph-image.png">
  </head>

  <body class="govuk-template__body {{ bodyClasses }}">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    {% block bodyStart %}{% endblock %}

    {%- block skipLink %}
    {{ govukSkipLink({
      href: '#main-content',
      text: 'Skip to main content'
    }) }}
    {% endblock -%}

    {%- block header %}
      {% include "includes/header.html" %}
    {% endblock -%}

    {%- block content %}{% endblock -%}

    {%- block footer %}
      {% include "includes/footer.html" %}
    {% endblock -%}

    {% block bodyEnd %}
      {% block scripts %}
        {% include "includes/scripts.html" %}
        {% block page_scripts %}{% endblock %}
      {% endblock %}
      {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
      <script>GOVUKFrontend.initAll()</script>
      <!-- <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script> -->
    {% endblock %}

    <!-- GOV.UK Prototype kit {{releaseVersion}} -->
  </body>

</html>