{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Timeline {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ hmctsIdentityBar({
  title: {
    html: casebar.parties
    },
  items: [
    {
      text: 'Send view or decision',
      href: '/app/cases/'+_case.id+'/pip/decision'
    },
    {
      classes: 'hmcts-button--secondary',
      text: 'List for hearing',
      href: '/app/cases/'+_case.id+'/pip/list-for-hearing'
    }
  ]
}) }}

<div class="jui-width-container">

  <main class="govuk-main-wrapper" role="main">

    {{ hmctsSubNavigation({
      label: 'Case navigation',
      items: caseNavItems
    }) }}

    <h1 class="govuk-heading-xl">Timeline</h1>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        {% if events.length %}

          {{hmctsTimeline({
            classes: 'hmcts-timeline--full',
            events: events
          })}}

        {% else %}

          <p>No events.</p>

        {% endif %}

      </div>

    </div>

  </main>

</div>

{% endblock %}