{% extends "layouts/admin/base-account-question.html" %}


{% block pageTitle %}
  Request sent
{% endblock %}
{% block beforeContent %}
{% endblock %}

{% block content %}
  {{ govukPanel({
    titleText: "Account blocked",
    classes:'govuk-!-margin-bottom-7'
  }) }}

  <h2 class="govuk-heading-m">What happens next</h2>
  <p>The account is now blocked. Users can view information on the account but cannot transfer, delete or surrender allowances.</p>
  <p> Users cannot submit emissions data for the account either.</p>
  {{ govukButton({
    href: '/account/'+ installation.permitId +'/details/view',
    text: "Back to the account page"
  }) }}

{% endblock %}
