{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block pageTitle %}
  Enter the permit ID
{% endblock %}

{% block beforeContent %}
        <a class="govuk-back-link" href="#" onclick="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <style>
    input, select { display: block; }
    </style>

    <form class="form" method="post">
      {% call govukFieldset({
        legend: {
          text: "About the account",
          classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6",
          isPageHeading: true
        }
      }) %}

      {{ govukInput({
        label: {
          text: "Give the new account a name"
        },
        hint: {
          text: "This name will only be visible to you, and other users with permission to interact with the account"
        },
        id: "account-name",
        name: "createNewAccount.accountName",
        classes: 'govuk-input--width-10',
        value: data.createNewAccount.accountName
      }) }}

      {{ govukInput({
        label: {
          text: "Permit ID for the new installation"
        },
        hint: {
          text: "eg 'UK-E-IN-34562'"
        },
        id: "permit-id",
        name: "createNewAccount.permitId",
        classes: 'govuk-input--width-10',
        value: data.createNewAccount.permitId
      }) }}

      {{ govukDetails({
        summaryText: "Help with permit ID",
        text: "The permit ID will be included in the PDF document sent to you by the Regulator."
      }) }}



      {{ govukDateInput({
        name: "createNewAccount.permitStartDate",
        fieldset: {
          legend: {
            text: "Permit start date",
            isPageHeading: false,
            classes: 'govuk-fieldset__legend--m'
          }
        },
        hint: {
          text: "For example, 31 3 2021"
        },
        items: [
          {
            classes: "govuk-input--width-2",
            id: "createNewAccount.permitStartDate.day",
            label: 'Day',
            name: "createNewAccount.permitStartDate.day",
            value: data.createNewAccount.permitStartDate.day
          },
          {
            classes: "govuk-input--width-2",
            label: "Month",
            name: "createNewAccount.permitStartDate.month",
            value: data.createNewAccount.permitStartDate.month
          },
          {
            classes: "govuk-input--width-4",
            label: "Year",
            name: "createNewAccount.permitStartDate.year",
            value: data.createNewAccount.permitStartDate.year
          }
          ]
      }) }}

      {{ govukDateInput({
        name: "createNewAccount.permitExpiry",
        fieldset: {
          legend: {
            text: "Permit expiry date",
            isPageHeading: false,
            classes: 'govuk-fieldset__legend--m'
          }
        },
        hint: {
          text: "For example, 31 3 2024"
        },
        items: [
          {
            classes: "govuk-input--width-2",
            id: "createNewAccount.permitExpiry.day",
            label: 'Day',
            name: "createNewAccount.permitExpiry.day",
            value: data.createNewAccount.permitExpiry.day
          },
          {
            classes: "govuk-input--width-2",
            label: "Month",
            name: "createNewAccount.permitExpiry.month",
            value: data.createNewAccount.permitExpiry.month
          },
          {
            classes: "govuk-input--width-4",
            label: "Year",
            name: "createNewAccount.permitExpiry.year",
            value: data.createNewAccount.permitExpiry.year
          }
          ]
      }) }}

      {{ govukDateInput({
        name: "createNewAccount.yearOfFirstEmission",
        fieldset: {
          legend: {
            text: "First year of emissions",
            isPageHeading: false,
            classes: 'govuk-fieldset__legend--m'
          }
        },
        hint: {
          text: "For example, 2018"
        },
        items: [

          {
            classes: "govuk-input--width-4",
            label: "Year",
            name: "createNewAccount.yearOfFirstEmission.year",
            value: data.createNewAccount.yearOfFirstEmission.year
          }
          ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      {% endcall %}
    </form>
  </div>
</div>

{% endblock %}
