{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block pageTitle %}
Do you want to add a representative to the account?
{% endblock %}


{% block content %}

   <h1 class="govuk-heading-l">
     Do you want to add a representative to the account now?
   </h1>
   <p>If you want to trade on the account you'll need to add another individual to the account</p>

    <form class="form" method="post">

<div data-module="checkboxes">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-rep-1" name="createNewAccount.addARep" type="radio" value="yes" data-aria-controls="conditional-2">
              <label class="govuk-label govuk-radios__label" for="add-rep-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-rep-2" name="createNewAccount.addARep" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="add-rep-2">
                Yes
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div id="conditional-2">
        adsfsdf
      </div>
</div>
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


{% endblock %}
