{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block pageTitle %}
Do you want to add a representative to the account?
{% endblock %}


{% block content %}

   <h1 class="govuk-heading-l">
     Do you want to add a representative to the account now?
   </h1>
   <p>If you want to trade on the account you'll need to add another individual to the account</p>

    <form class="form" method="post">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "basedInTheUK",
        name: "createNewAccount.basedInTheUK",
        fieldset: {},
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("createNewAccount.basedInTheUK",'yes'),
            attributes: 
              {
                "data-aria-controls": "hidden-representative-email"
              }
          },
          {
            value: "no",
            text: "No",
            checked: checked("createNewAccount.basedInTheUK",'no')
          }
        ]
      }) }}

      <div id="hidden-representative-email">
        {{ govukInput({
        id: "email-address",
        name: "addNewRepresentative.draft.emailAddress",
        classes: "govuk-input--width-20 format-number",
        label: {
            text: "Enter email address"
        },
        value: data.addNewRepresentative.draft.emailAddress
        }) }}
      </div>
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


{% endblock %}
