{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
What type of account do you need?
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <h1 class="govuk-heading-l">
     Check your answers
    </h1>

    <form class="form" method="post">
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Account type"
            },
            value: {
              text: data.createNewAccount.accountType | capitalize
            },
            actions: {
              items: [
                {
                  href: "choose-account-type",
                  text: "Change",
                  visuallyHiddenText: "the account type"
                }
              ]
            }
          },
          {
            key: {
              text: "Account name"
            },
            value: {
              text: data.createNewAccount.accountName
            },
            actions: {
              items: [
                {
                  href: "about-the-account",
                  text: "Change",
                  visuallyHiddenText: "account name"
                }
              ]
            }
          },
          {
            key: {
              text: "Permit ID"
            },
            value: {
              html: data.createNewAccount.permitId
            },
            actions: {
              items: [
                {
                  href: "about-the-account",
                  text: "Change",
                  visuallyHiddenText: "permit ID"
                }
              ]
            }
          },

          {
            key: {
              text: "Permit start date"
            },
            value: {
              html: data.createNewAccount.permitStartDate.day + '/' + data.createNewAccount.permitStartDate.month + '/' + data.createNewAccount.permitStartDate.year
            },
            actions: {
              items: [
                {
                  href: "about-the-account",
                  text: "Change",
                  visuallyHiddenText: "permit start date"
                }
              ]
            }
          },

          {
            key: {
              text: "Permit expiry date"
            },
            value: {
              html: data.createNewAccount.permitExpiry.day + '/' + data.createNewAccount.permitExpiry.month + '/' + data.createNewAccount.permitExpiry.year
            },
            actions: {
              items: [
                {
                  href: "about-the-account",
                  text: "Change",
                  visuallyHiddenText: "permit expiry date"
                }
              ]
            }
          },

          {
            key: {
              text: "First year of emission"
            },
            value: {
              html: data.createNewAccount.yearOfFirstEmission.year
            },
            actions: {
              items: [
                {
                  href: "about-the-account",
                  text: "Change",
                  visuallyHiddenText: "first year of emission"
                }
              ]
            }
          },

          {
            key: {
              text: "Address"
            },
            value: {
              html: "72 Guild Street<br>London<br>SE23 6FH"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Address"
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Create new account"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
