{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block pageTitle %}
What type of account do you need?
{% endblock %}

{% block beforeContent %}
        <a class="govuk-back-link" href="#" onclick="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}


   <h1 class="govuk-heading-l">
What type of account do you need?
    </h1>

    <form class="form" action="choose-account-type" method="post">
      {{ govukRadios({
        idPrefix: "accountType",
        name: "createNewAccount.accountType",
        fieldset: {},
        items: [
          {
            value: "trading",
            text: "A trading account",
            checked: checked("createNewAccount.accountType",'trading')
          },
          {
            value: "installation",
            text: "An operator holding account",
            checked: checked("createNewAccount.accountType",'installation')
          },

    

      {
        value: "aircraft",
        text: "An aircraft operator holding account",
        checked: checked("createNewAccount.accountType",'installation')
      }
    ]
  }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


{% endblock %}
