{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% set installationID = '' %}
    {% set installationID = selectedInstallation.permitId %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
        You’ve completed and saved your account details.
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>EU805434</strong>
        </div>
      </div>
      {{ govukInsetText({
        html: "Your application isn’t complete yet. You can go back to <a class='govuk-link' href='/register-your-organisation/task-list'></a> to view your progress or <a class='govuk-link' href='/https://ets-alpha.herokuapp.com/account/add-a-new-authorised-representative/enter-email-address'> to invite additional representatives to your account.</a>."
      }) }}
  </div>
</div>
{% endblock %}
