{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block pageTitle %}
Select recipient
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Apply for an operator or trading account</h1>

      <p>Apply for an operator or trading account for the UK Emissions Trading Registry.</p>

      <h2 class="govuk-heading-l">
      What you'll need
      </h1>
      <p>If you are opening an operator account, you will either your greenhouse gas permit ID or your Monitoring Plan ID.</p>
      <form class="form" method="post">

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}
