{% extends "layout.html" %}
{% set installationName = data['ets-surrender-allowance']['installation'] %}
{% set installationID = '' %}
{% for item in data['installations'] %}
  {% if installationName == (item.name) | trim %}
    {% set installationID = item.permitId %}
  {% endif %}
{% endfor %}
{% block pageTitle %}
  Surrender your 2018 emission allowance
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="select-installation">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">{{ installationName }}</span>
        Surrender your 2018 emission allowance
      </h1>
      <form class="form" action="surrender-amount-answer" method="post">

        <p class="govuk-body govuk-!-margin-bottom-6">
          You need to surrender the full amount by 30 April 2019. If you don't have enough allowance you may need to <a href="#">acquire additional allowance</a>.</p>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Your 2018  emissions</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">2,480</td>
              </tr>
              <tr class="govuk-table__row govuk-table__row--strong-border">
                <th class="govuk-table__header" scope="row">
                  Your credit<br>
                  <span class="govuk-table__cell-hint">You surrendered too much last year. <a href='/account/{{installationID}}?view=transactionHistory'>Learn why</a></span>
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">320</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">You need to surrender</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">2,160</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">You have</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">2,500</td>
              </tr>
            </tbody>
          </table>
          {% set surrenderOtherAmount %}
            {{ govukInput({
              id: "other-amount",
              name: "ets-surrender-allowance[surrender-custom-amount]",
              classes: "govuk-input--width-5 format-number",
              label: {
                text: "Enter amount to surrender"
              },
              hint: {
                text:  'You have 2,500 allowances'
              },
              value: data['ets-surrender-allowance']['surrender-custom-amount']
            }) }}
          {% endset -%}

          {{ govukRadios({
            idPrefix: "amount-to-surrender",
            name: "ets-surrender-allowance[amount-to-surrender]",
            fieldset: {},
            items: [
              {
                value: "2160",
                text: "Surrender 2,160",
                checked: checked ("['ets-surrender-allowance']['amount-to-surrender']", '2160')
              },
              {
                value: "other",
                text: "Surrender another amount",
                checked: checked ("['ets-surrender-allowance']['amount-to-surrender']", 'other'),
                conditional: {
                  html: surrenderOtherAmount
                }
              }
            ]
          }) }}
        {{ govukButton({
          text: "Submit for approval"
        }) }}
      </form>
    </div>
    {% include "includes/sidebar.html" %}
  </div>

{% endblock %}
{% block pageScripts %}
<script>
    var el = document.querySelector('.format-number');
    el.addEventListener('keyup', function (event) {
      if (event.which >= 37 && event.which <= 40) return;
      this.value = this.value
                      .replace(/\D/g, '')
                      .replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    });
</script>
{% endblock %}
