{% extends "layouts/admin/base-account.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% set hasSidebar = true %}
{% block headerContent %}
  <h1 class="govuk-heading-xl">Account details for {{installation.name}}</h1>
{% endblock %}
{% block mainContent %}
{% set installationAddress %}
{% for key,value in installation.address %}
    {{value}}</br>
{% endfor %}
{% endset %}
{% set installationContact %}
{% for key,value in installation.contact %}
    <p>{{value}}</p>
{% endfor %}
{% endset %}

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "Entity name"
      },
      value: {
        text: installation.name
      }
    },
    {
      key: {
        text: "Permit ID"
      },
      value: {
        text: installation.permitId
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        text: installation.status | capitalize
      }
    },
    {
      key: {
        text: "Registered address"
      },
      value: {
        html: installationAddress
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        html: installationContact
      }
    }
  ]
}) }}

{% endblock %}

{% block sideContent %}

{% if not 'closed' in installation.status | lower %}
  <p>
    {{ govukButton({
      text: "Edit details",
      href: '/account/'+ installation.permitId +'/edit/update-details',
      classes: 'govuk-!-margin-bottom-0'
    }) }}
  </p>
  <p>
  {% if 'open' in installation.status | lower %}
    {{ govukButton({
      text: "Block account",
       href: '/account/'+ installation.permitId +'/block/check-and-submit',
       classes: 'hmcts-button--secondary govuk-!-margin-bottom-0'
    }) }}
  {% endif %}
  {% if 'blocked' in installation.status | lower %}
    {{ govukButton({
      text: "Reinstate account",
       href: '/account/'+ installation.permitId +'/reinstate/check-and-submit',
       classes: 'hmcts-button--secondary govuk-!-margin-bottom-0'
    }) }}
  {% endif %}
  </p>
  <p>
  {% if not 'closure' in installation.status | lower %}
  {{ govukButton({
    text: "Propose account closure",
     href: '/account/'+ installation.permitId +'/close/check-and-submit',
     classes: 'hmcts-button--secondary govuk-!-margin-bottom-0'
  }) }}
  {% endif %}
  </p>
{% endif %}
{% endblock %}
