{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Daily living: Dressing and undressing {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ hmctsIdentityBar({
  title: {
    html: casebar.parties
  }
}) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Daily living</span>
            Dressing and undressing
          </h1>

          <form method="post">

            {{ govukRadios({
              idPrefix: 'dressing-undressing',
              name: 'dressing-undressing',
              fieldset: {
                legend: {
                  text: 'Select your new score',
                  classes: 'govuk-fieldset__legend--m'
                }
              },
              items: [
                {
                  text: 'Can dress and undress unaided',
                  hint: {
                    text: '0 points'
                  },
                  value: 'Can dress and undress unaided',
                  checked: checked('dressing-undressing', 'Can dress and undress unaided') == 'checked'
                },
                {
                  text: 'Needs to use an aid or appliance to be able to dress or undress',
                  hint: {
                    text: '2 points'
                  },
                  value: 'Needs to use an aid or appliance to be able to dress or undress',
                  checked: checked('dressing-undressing', 'Needs to use an aid or appliance to be able to dress or undress') == 'checked'
                },
                {
                  html: 'Needs either: <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0"><li>prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed</li><li>prompting or assistance to be able to select appropriate clothing</li></ul>',
                  hint: {
                    text: '2 points'
                  },
                  value: 'Needs either prompting to be able to dress',
                  checked: checked('dressing-undressing', 'Needs either prompting to be able to dress') == 'checked'
                },
                {
                  text: 'Needs assistance to be able to dress or undress their lower body',
                  hint: {
                    text: '2 points'
                  },
                  value: 'Needs assistance to be able to dress or undress their lower body',
                  checked: checked('dressing-undressing', 'Needs assistance to be able to dress or undress their lower body') == 'checked'
                },
                {
                  text: 'Needs assistance to be able to dress or undress their upper body',
                  hint: {
                    text: '4 points'
                  },
                  value: 'Needs assistance to be able to dress or undress their upper body',
                  checked: checked('dressing-undressing', 'Needs assistance to be able to dress or undress their upper body') == 'checked'
                },
                {
                  text: 'Cannot dress or undress at all',
                  hint: {
                    text: '8 points'
                  },
                  value: 'Cannot dress or undress at all',
                  checked: checked('dressing-undressing', 'Cannot dress or undress at all') == 'checked'
                }
              ]
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

		</main>

	</div>

{% endblock %}