{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}
{% set selectedInstallation = (data.newLinkedRepresentative.installation) or '' %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
        <h1 class="govuk-panel__title">We’ve received your request to add a new authorised representative to this account</h1>

        <div class="govuk-panel__body">
            Your reference number<br><strong>EU613749</strong>
        </div>
      </div>

{% if data.onBoardingComplete == "Yes" %}
      {{ govukInsetText({
        html: "Visit the account page to <a class='govuk-link' href='/account/" + installationID +"'>check the status of your request</a>."
      }) }}
{% else %}
      {{ govukInsetText({
        html: "Visit the account page to <a class='govuk-link' href='/register-your-organisation/task-list'>check the status of your request</a>."
      }) }}
{% endif %}

      <h2 class="govuk-heading-m">What happens next</h2>


      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Your request to add a new authorised representative to your account is awaiting approval.
        </strong>
      </div>
{% endblock %}
