{% if data.onBoardingComplete == "Yes" %}
  {% extends "layouts/admin/base-account-question.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}
{% block pageTitle %}
Enter email address
{% endblock %}

{% block content %}
      <h1 class="govuk-heading-xl">
        Provide the email address of the new authorised representative
      </h1>
      <p>Provide the email address of the user who requires access to the account</P>
      <form class="form" action="enter-email-address" method="post">

        {{ govukInput({
        id: "email-address",
        name: "addNewRepresentative.draft.emailAddress",
        classes: "govuk-input--width-20 format-number",
        label: {
            text: "Enter email address"
        },
        value: data.addNewRepresentative.draft.emailAddress
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

{% endblock %}
