{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  We have received your 2018 emissions
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "We have received your submission",
        html: "Your reference number<br><strong>HXJ76393F</strong>",
        classes:'govuk-!-margin-bottom-7'
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We have sent you a confirmation email.</p>
    </div>
  </div>

{% endblock %}