/* ==========================================================================
   #STATUS
   ========================================================================== */

.jui-status {
  @include govuk-font($size: 14);
  border: 2px solid govuk-colour("blue");
  color: govuk-colour("blue");
  font-weight: bold;
  padding: 0 govuk-spacing(1);
  text-transform: uppercase;
  vertical-align: middle;
}

.jui-status {
    padding-top: 2px;
    border: 1.1px solid;
    font-weight: 100;
    border-radius: 2px;
    min-width: 80px;
    text-align: center;
}

.jui-status--urgent {
  border: 2px solid govuk-colour("red");
  color: govuk-colour("red");
  font-weight: bold;
}


.jui-status--ok {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
}

.jui-status--inprogress {
  border-color: govuk-colour("blue");
  color: govuk-colour("blue");
}

.jui-status--complete {
  border-color: govuk-colour("grey-1");
  color: govuk-colour("grey-1");
}
