{% extends "layouts/admin/base.html" %}

{% set pageID = "accounts" %}

{% block pageTitle %}Your accounts {{'- ' + serviceName}}{% endblock %}

{% block content %}

<div class="jui-width-container">
  <main class="govuk-main-wrapper" role="main">
    {% if success %}
      {{ hmctsBanner({
          type: 'success',
          text: success,
          iconFallbackText: 'Success'
        }) }}
    {% endif %}
    {% if data.taskCount > 0 %}
      {% set bannerHtml %}
      <h2 class="govuk-heading-m">You have {{ data.taskCount }} outstanding tasks </h2>
      <p><a href="tasks">Review tasks</a></p>
      {% endset %}

      {{ hmctsBanner({
      html: bannerHtml
      }) }}
    {% endif %}
    {% if data.userPersona == 'ea' %}

    {% set titleHTML %}
    <h1 class="govuk-heading-l">Search for accounts by:</h1>
    {% endset %}
    {{ hmctsPageHeaderWithActions({
      title: {
        html: titleHTML
      }
    }) }}
<form method="POST">
    <div class="tile-container search">
      <div class="first-cell tile-grid-cell">
        <h2 class="govuk-heading-m">Account</h2>

        {{ govukSelect({
          id: "account-type",
          name: "search.account.type",
          label: {
          text: "Account type"
          },
          items: [{
              value: 'Choose an account type',
              text: 'Choose an account type',
              selected: checked("",'')
          },
          {
              value: 'Trading',
              text: 'Trading',
              selected: checked("search.account.type",'Trading')
          },
          {
              value: 'Installation',
              text: 'Installation',
              selected: checked("search.account.type",'Installation')
          }
          ]
        }) }}
        {{ govukSelect({
          id: "account-complianceStatus",
          name: "search.account.complianceStatus",
          label: {
          text: "Compliance Status"
          },
          items: [{
              value: 'choose',
              text: 'Choose a status',
              selected: checked("",'choose')
          },
          {
              value: 'notSubmitted',
              text: 'Emissions not submitted',
              selected: checked("search.account.complianceStatus",'notSubmitted')
          },
          {
              value: 'notSurrendered',
              text: 'Allowance not surrendered',
              selected: checked("search.account.complianceStatus",'notSurrendered')
          },
          {
              value: 'compliant',
              text: 'Compliant',
              selected: checked("search.account.complianceStatus",'compliant')
          }
          ]
        }) }}
      </div>
      <div class="second-cell tile-grid-cell">
        <h2 class="govuk-heading-m">Account Holder</h2>
        {{ govukInput({
          id: "account-holder",
          name: "search.account.accountHolderName",
          classes: "",
          label: {
            text: "Name"
          },
          hint: {
            text: "You can use wild cards"
          },
          value: data.search.account.accountHolderName,
          type: "text"
        }) }}

        {{ govukInput({
          id: "account-holder",
          name: "search.account.accountHolderId",
          classes: "",
          label: {
            text: "ID"
          },
          hint: {
            text: "Eg. UK-432-5235-342"
          },
          value: data.search.account.accountHolderId,
          type: "text"
        }) }}

      </div>
      <div class="third-cell tile-grid-cell">
        <h2 class="govuk-heading-m">State</h2>
        {{ govukSelect({
          id: "account-status",
          name: "search.account.status",
          label: {
          text: "Account status"
          },
          items: [{
              value: 'All',
              text: 'All',
              selected: checked("",'all')
          },
          {
              value: 'onboardingNotComplete',
              text: 'Onboarding not Complete',
              selected: checked("search.account.status",'onboardingNotComplete')
          },
          {
              value: 'closed',
              text: 'Closed',
              selected: checked("search.account.status",'closed')
          }
          ]
        }) }}
        {{ govukInput({
          id: "",
          name: "search.transaction.account.receiving",
          classes: "govuk-!-width-full",
          label: {
            text: "Receiving account ID"
          },
          value: data.search.transaction.account.receiving
        }) }}
      </div>
      <div class="fourth-cell tile-grid-cell">
      </div>
      <div class="advanced-search tile-grid-cell">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Advanced search
            </span>
          </summary>
          <div class="govuk-details__text">
          </div>
        </details>
      </div>
      <div class="tile-buttons tile-grid-cell">
        <div class="accept">
          <button type="submit" class="govuk-button">
              Continue
          </button>
        </div>
        <div class="reject">
          <a href="#" role="button" draggable="false" class="govuk-button hmcts-button--secondary reject-btn">Clear Search</a>
        </div>
      </div>
    </div>
    </form>
    {% else %}
    {% set titleHTML %}
    <h1 class="govuk-heading-l">Your accounts</h1>
    {% endset %}
    {{ hmctsPageHeaderWithActions({
      title: {
        html: titleHTML
      }
    }) }}
    <table class="govuk-table app-table--overflow">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Account</th>
            <th class="govuk-table__header" scope="col">Account name</th>
            <th class="govuk-table__header" scope="col">Account holder</th>
            <th class="govuk-table__header" scope="col">Compliance status</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Allowances</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% if data.userPersona == 'trader' %}
            {% for acct in data.installations %}
            {% if acct.type == 'trading' %}
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row"><a href="/account/{{ acct.permitId }}/">{{ acct.permitId }}</a></th>
                <td class="govuk-table__cell">{{ acct.name }}</td>
                <td class="govuk-table__cell">{{ acct.accountHolder }}</td>
                <td class="govuk-table__cell">
                    {% if acct.complianceStatusCode == "A" %}
                        <span class="jui-status  jui-status--new">SURRENDER DUE</span>
                    {% elif acct.complianceStatusCode == "B" %}
                        <span class="jui-status  jui-status--new">SUBMISSIONS DUE</span>
                    {% elif acct.complianceStatusCode == "C" %}
                    OK
                    {% endif %}
                </td>
            <!-- allowanceS -->
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    {% for item in acct.holdings %}
                    {% for unit, value in item %}
                    {% set unitDisplayName = 'allowance' if unit == 'generalAllowance' else unit %}
                    {% if unit == "generalAllowance" %}
                            {{ value | formatNumber }}
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                </td>
                </tr>
            {% endif %}
            {% endfor %}
        {% else %}
            {% for acct in data.installations %}
                {% if not acct.type %}
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"><a href="/account/{{ acct.permitId }}/">{{ acct.permitId }}</a></th>
                        <td class="govuk-table__cell">{{ acct.name }}</td>
                        <td class="govuk-table__cell">{{ acct.accountHolder }}</td>
                        <td class="govuk-table__cell">
                            {% if acct.complianceStatusCode == "A" %}
                                <span class="jui-status  jui-status--urgent">SURRENDER DUE</span>
                            {% elif acct.complianceStatusCode == "B" %}
                                <span class="jui-status  jui-status--urgent">SUBMISSIONS DUE</span>
                            {% elif acct.complianceStatusCode == "C" %}
                            <span class="jui-status  jui-status--ok">COMPLIANT</span>
                            {% endif %}
                        </td>
                        <!-- allowances -->
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            {% for item in acct.holdings %}
                                {% for unit, value in item %}
                                    {% set unitDisplayName = 'allowance' if unit == 'generalAllowance' else unit %}
                                    {% if unit == "generalAllowance" %}
                                        {{ value | formatNumber}}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% endif %}
  </main>

</div>

{% endblock %}
{% block page_scripts %}
    <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript">
    /*global accessibleAutocomplete*/
      var element = document.querySelector('#account-search')
      if (element) {
       var id = 'account-search'
      function customResults (query, matchedResults) {
        var installations = {{ data.installations | dump | safe }}
        var checkMatch = installations.filter(function (result) {
        return result.name.toLowerCase().indexOf(query.toLowerCase()) !== -1 || result.permitId.toLowerCase().indexOf(query.toLowerCase()) !== -1;
        })
        matchedResults(checkMatch)
      }
       function inputValueTemplate (result) {
        return result && result.name
      }
       function suggestionTemplate (result) {
        return result && '<strong>' + result.permitId + '</strong> ' + result.name +
          ' (<span units=' + result.units + '>' + result.units + ' units</span>)'
      }
       function handleOnConfirm (result) {
        window.location.href = '/account/' + result.permitId + '/'
      }
       accessibleAutocomplete({
        element: element,
        id: id,
        source: customResults,
        onConfirm: handleOnConfirm,
        templates: {
            inputValue: inputValueTemplate,
            suggestion: suggestionTemplate
        }
      })
      }

  </script>
{% endblock %}
