{% extends "layouts/admin/base.html" %}

{% set pageID = "accounts" %}

{% block pageTitle %}Your accounts {{'- ' + serviceName}}{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main class="govuk-main-wrapper" role="main">

    {% if success %}
      {{ hmctsBanner({
          type: 'success',
          text: success,
          iconFallbackText: 'Success'
        }) }}
    {% endif %}
    {% if data.taskCount > 0 %}
      {% set bannerHtml %}
      <h2 class="govuk-heading-m">You have {{ data.taskCount }} outstanding tasks </h2>
      <p><a href="tasks">Review tasks</a></p>
      {% endset %}

      {{ hmctsBanner({
      html: bannerHtml
      }) }} 
    {% endif %}
      {% set titleHTML %}
      <h1 class="govuk-heading-xl">Your accounts</h1>
      {% endset %}
    {{ hmctsPageHeaderWithActions({
      title: {
        html: titleHTML
      },
      items: [{
        text: 'Add new installation',
        href: '#'
      }]
    }) }}

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Account</th>
      <th class="govuk-table__header" scope="col">Account name</th>
      <th class="govuk-table__header" scope="col">Account Holder</th>
      <th class="govuk-table__header" scope="col">Compliance Status</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">UKGA</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% if data.userPersona == 'trader' %}
    {% for acct in data.installations %}
    {% if acct.type == 'trading' %}
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row"><a href="/account/{{ acct.permitId }}/">{{ acct.permitId }}</a></th>
        <td class="govuk-table__cell">{{ acct.name }}</td>
        <td class="govuk-table__cell">{{ acct.accountHolder }}</td>
        <td class="govuk-table__cell">
            {% if acct.complianceStatusCode == "A" %}
                <span class="jui-status  jui-status--new">SURRENDER DUE</span>
            {% elif acct.complianceStatusCode == "B" %}
                <span class="jui-status  jui-status--new">SUBMISSIONS DUE</span>
            {% elif acct.complianceStatusCode == "C" %}
            OK
            {% endif %}
        </td>
    <!-- allowanceS -->
        <td class="govuk-table__cell govuk-table__cell--numeric">
            {% for item in acct.holdings %}
              {% for unit, value in item %}
               {% set unitDisplayName = 'allowance' if unit == 'generalAllowance' else unit %}
               {% if unit == "generalAllowance" %}
                    {{ value }}
                {% endif %}
              {% endfor %}
            {% endfor %}
        </td>
        </tr>
    {% endif %}
    {% endfor %}
  {% else %}
    {% for acct in data.installations %}
    {% if not acct.type %}
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row"><a href="/account/{{ acct.permitId }}/">{{ acct.permitId }}</a></th>
        <td class="govuk-table__cell">{{ acct.name }}</td>
        <td class="govuk-table__cell">{{ acct.accountHolder }}</td>
        <td class="govuk-table__cell">
            {% if acct.complianceStatusCode == "A" %}
                <span class="jui-status  jui-status--new">SURRENDER DUE</span>
            {% elif acct.complianceStatusCode == "B" %}
                <span class="jui-status  jui-status--new">SUBMISSIONS DUE</span>
            {% elif acct.complianceStatusCode == "C" %}
            OK
            {% endif %}
</td>
    <!-- allowanceS -->
        <td class="govuk-table__cell govuk-table__cell--numeric">
            {% for item in acct.holdings %}
              {% for unit, value in item %}
               {% set unitDisplayName = 'allowance' if unit == 'generalAllowance' else unit %}
               {% if unit == "generalAllowance" %}
                    {{ value }}
                {% endif %}
              {% endfor %}
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
  {% endif %}
  </tbody>
</table>

  </main>

</div>

{% endblock %}
