{% extends "layouts/admin/base.html" %}

{% set pageID = "accounts" %}

{% block pageTitle %}Your accounts {{'- ' + serviceName}}{% endblock %}

{% block content %}

<div class="jui-width-container">
  <main class="govuk-main-wrapper" role="main">
    {% if success %}
      {{ hmctsBanner({
          type: 'success',
          text: success,
          iconFallbackText: 'Success'
        }) }}
    {% endif %}
    {% if data.taskCount > 0 %}
      {% set bannerHtml %}
      <h2 class="govuk-heading-m">You have {{ data.taskCount }} outstanding tasks </h2>
      <p><a href="tasks">Review tasks</a></p>
      {% endset %}

      {{ hmctsBanner({
      html: bannerHtml
      }) }}
    {% endif %}
      {% set titleHTML %}
      <h1 class="govuk-heading-xl">Your accounts</h1>
      {% endset %}
    {{ hmctsPageHeaderWithActions({
      title: {
        html: titleHTML
      }
    }) }}
    {% if data.userPersona == 'ea' %}
        <label class='govuk-label' for="account-search">Find an account</label>
        <div id="account-search" class="account-search-wrapper govuk-!-width-two-thirds"></div>
    {% else %}
    <table class="govuk-table app-table--overflow">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Account</th>
            <th class="govuk-table__header" scope="col">Account name</th>
            <th class="govuk-table__header" scope="col">Account holder</th>
            <th class="govuk-table__header" scope="col">Compliance status</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Allowances</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% if data.userPersona == 'trader' %}
            {% for acct in data.installations %}
            {% if acct.type == 'trading' %}
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row"><a href="/account/{{ acct.permitId }}/">{{ acct.permitId }}</a></th>
                <td class="govuk-table__cell">{{ acct.name }}</td>
                <td class="govuk-table__cell">{{ acct.accountHolder }}</td>
                <td class="govuk-table__cell">
                    {% if acct.complianceStatusCode == "A" %}
                        <span class="jui-status  jui-status--new">SURRENDER DUE</span>
                    {% elif acct.complianceStatusCode == "B" %}
                        <span class="jui-status  jui-status--new">SUBMISSIONS DUE</span>
                    {% elif acct.complianceStatusCode == "C" %}
                    OK
                    {% endif %}
                </td>
            <!-- allowanceS -->
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    {% for item in acct.holdings %}
                    {% for unit, value in item %}
                    {% set unitDisplayName = 'allowance' if unit == 'generalAllowance' else unit %}
                    {% if unit == "generalAllowance" %}
                            {{ value | formatNumber }}
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                </td>
                </tr>
            {% endif %}
            {% endfor %}
        {% else %}
            {% for acct in data.installations %}
                {% if not acct.type %}
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"><a href="/account/{{ acct.permitId }}/">{{ acct.permitId }}</a></th>
                        <td class="govuk-table__cell">{{ acct.name }}</td>
                        <td class="govuk-table__cell">{{ acct.accountHolder }}</td>
                        <td class="govuk-table__cell">
                            {% if acct.complianceStatusCode == "A" %}
                                <span class="jui-status  jui-status--urgent">SURRENDER DUE</span>
                            {% elif acct.complianceStatusCode == "B" %}
                                <span class="jui-status  jui-status--urgent">SUBMISSIONS DUE</span>
                            {% elif acct.complianceStatusCode == "C" %}
                            <span class="jui-status  jui-status--ok">COMPLIANT</span>
                            {% endif %}
                        </td>
                        <!-- allowances -->
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            {% for item in acct.holdings %}
                                {% for unit, value in item %}
                                    {% set unitDisplayName = 'allowance' if unit == 'generalAllowance' else unit %}
                                    {% if unit == "generalAllowance" %}
                                        {{ value | formatNumber}}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% endif %}
  </main>

</div>

{% endblock %}
{% block page_scripts %}
    <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript">
    /*global accessibleAutocomplete*/
      var element = document.querySelector('#account-search')
      if (element) {
       var id = 'account-search'
      function customResults (query, matchedResults) {
        var installations = {{ data.installations | dump | safe }}
        var checkMatch = installations.filter(function (result) {
        return result.name.toLowerCase().indexOf(query.toLowerCase()) !== -1 || result.permitId.toLowerCase().indexOf(query.toLowerCase()) !== -1;
        })
        matchedResults(checkMatch)
      }
       function inputValueTemplate (result) {
        return result && result.name
      }
       function suggestionTemplate (result) {
        return result && '<strong>' + result.permitId + '</strong> ' + result.name +
          ' (<span units=' + result.units + '>' + result.units + ' units</span>)'
      }
       function handleOnConfirm (result) {
        window.location.href = '/account/' + result.permitId + '/'
      }
       accessibleAutocomplete({
        element: element,
        id: id,
        source: customResults,
        onConfirm: handleOnConfirm,
        templates: {
            inputValue: inputValueTemplate,
            suggestion: suggestionTemplate
        }
      })
      }

  </script>
{% endblock %}
