{% extends "layouts/admin/base.html" %}

{% set pageID = "tasks" %}

{% set selectRepsArray = [] %}
{% set blankObj = {
    text: '',
    value: '',
    selected: checked('data.user.fullName','')
    }
  %}
{% set selectRepsArray = (selectRepsArray.push(blankObj),selectRepsArray) %}
{% for rep in data.existingAuthorisedRepresentatives %}
  {% set repObj = {
    text: rep.name,
    value: rep.name,
    selected: checked('data.user.fullName',rep.name)
    }
  %}
  {% set selectRepsArray = (selectRepsArray.push(repObj),selectRepsArray) %}
{% endfor %}


{% block pageTitle %}Tasks {{'- ' + serviceName}}{% endblock %}

{% block content %}
<div class="jui-width-container">

  <main class="govuk-main-wrapper" role="main">
  <h1 class="govuk-heading-l">Tasks</h1>
{% set searchForm %}
<form action='search' method="POST">
<div class="tile-container search nobackground">
<div class="first-cell tile-grid-cell">
        {{ govukSelect({
          id: "user-full-name",
          name: "data.user.fullName",
          label: {
            text: "Assigned to"
          },
          classes: 'govuk-!-width-one-third',
          items: selectRepsArray,
           value: data.user.fullName
        }) }}

          {{ govukSelect({
              id: "Task-status",
              name: "search.task.status",
              label: {
              text: "Task status"
              },
              items: [{
                  value: 'open',
                  text: 'Open',
                  selected: checked("",'')
              },{
                  value: 'closed',
                  text: 'Closed',
                  selected: checked("",'')
                  }
              ]
              }) }}
          </div>

          <div class="second-cell tile-grid-cell">

          {{ govukSelect({
              id: "Task type",
              name: "search.task.type",
              label: {
                text: "Task type"
              },
              items: [
                {
                  value: '',
                  text: 'Choose task type',
                  selected: checked("",'')
                },
               {
                  value: 'all-types',
                  text: 'All types',
                  selected: checked("",'')
              },{
                  value: 'review-emission',
                  text: 'Review emissions',
                  selected: checked("",'')
              },{
                  value: 'review-transfer',
                  text: 'Review transfers',
                  selected: checked("",'')
              }
              ]
              }) }}
          </div>
<div class="third-cell tile-grid-cell">
        {{ govukInput({
          id: "",
          name: "search.tasks.age",
          classes: "govuk-!-width-full",
          label: {
            text: "Older than (days)"
          },
          value: data.search.tasks.age
        }) }}

</div>
<div class="fourth-cell tile-grid-cell">

        {{ govukInput({
          id: "",
          name: "search.tasks.accountID",
          classes: "govuk-!-width-full",
          label: {
            text: "Account ID"
          },
          value: data.search.tasks.accountID
        }) }}

          </div>
 <div class="tile-buttons tile-grid-cell">
              <div class="accept">
                  <a href="search?q=xyz{% if query.returnAccount %}&returnAccount={{query.returnAccount}}&persist=No{% endif %}" role="button" draggable="false" class="govuk-button approve-btn">Update results</a>
              </div>
              <div class="reject">
                <a href="#" role="button" draggable="false" class="govuk-button hmcts-button--secondary reject-btn">Clear Search</a>
              </div>
        </div>
        </div>
</form>
{% endset %}

<p>Showing all open tasks assigned to you</p>

{{ govukDetails({
  summaryText: "Change filter",
  html: searchForm
}) }}

      {% set accountFromName = '' %}
      {% set accountToName = '' %}
      <ul class='govuk-list'>
      {% if data.task != ' ' %}
        {% for task in data.tasks | filterObjects('taskStatus', 'is', 'Awaiting approval') | sort(true, false, 'started') %}
          <li>
          <div class="tile-container" data-type='{{task.accountType}}'>
            <div class="heading tile-grid-cell">
              <div class="title">
                  {{ task.type}}
              </div>
            <div class="started">
                <span class="label">
                Started:
                </span>
                <span class="datetime">
                {{ task.started | date("DD-MMM-YY") }} {{ task.started | date("HH:mm:ss") }}
                </span>
            </div>
            <div class="reference">
                <span class="label">
                Reference:
                </span>
                <span class="number">
                TASK-{{task.taskID}}
                </span>
            </div>
            </div>
            <div class="account tile-grid-cell">
              <div class="account-id">
                {{task.accountID}}
              </div>
              <div class="account-title">
                  {{task.accountName}}
              </div>
          </div>
            <div class="proposer tile-grid-cell">
            <div class="label">
                Proposed by:
            </div>
            <div class="name">
                <a href="/app/user/{{task.proposerId}}">{{ task.proposer }}</a>
            </div>
            </div>

            <div class="notes tile-grid-cell">
            <div class="label">
                Notes: 
            </div>
            <div class="text">
                <p>{{task.notes | d('Notes go here')}}</p>
            </div>
            </div>
            <div class="tile-buttons tile-grid-cell">
            <div class="accept">
                <button type="submit" class="govuk-button task-button approve-closure-btn" valuee="Approve">Approve</button>
            </div>
            <div class="reject">
                <button type="submit" class="govuk-button task-button hmcts-button--secondary reject-closure-btn">Reject</button>
            </div>
            </div>
            </div>
          </li>
        {% endfor %}
      {% endif %}
        
        {% for task in data.transactions | sort(true, false, 'started')  %}
          {% if 'awaiting approval' in task.status | lower %}
            {% for inst in data.installations %}
              {% if task.transferringAccount == inst.permitId %}
                {% set accountFromName = inst.name %}
              {% endif %}
            {% endfor %}

            {% for account in data.existingAccounts %}
              {% if task.acquiringAccount | trim == account.id %}
                {% set accountToName = account.name %}
              {% endif %}
            {% endfor %}

        <li>
        <div class="tile-container">
          <div class="heading tile-grid-cell">
            <div class="title">
              {{ 'Emissions' if 'submission' in task.type | lower else task.type}}
            </div>
            <div class="started">
              <span class="label">
                Started:
              </span>
              <span class="datetime">
                {{ task.started | date("DD-MMM-YY") }} {{ task.started | date("HH:mm:ss") }}

              </span>
            </div>
            <div class="reference">
              <span class="label">
                Reference:
              </span>
              <span class="number">
                TASK-{{task.transactionId}}
              </span>
            </div>
          </div>
          <div class="amount tile-grid-cell">
          {% for unit in task.units %}
              <div class="value">
                {{unit.amount | formatNumber }}
              </div>
              <div class="unit">
                {% if 'submission' in task.type | lower %}
                  {{ unit.type | upper | safe}}
                {% else %}
                  {{unit.type | safe}}
                {% endif %}
              </div>
          {% endfor %}
          </div>
          <div class="proposer tile-grid-cell">
            <div class="label">
              Proposed by:
            </div>
            <div class="name">
<a href="/app/user/{{task.proposerId}}">{{ task.proposer }}</a>
            </div>
          </div>
          {% if 'Transfer' in task.type %}
          <div class="transfer-completion tile-grid-cell hidden">
            <div class="label">
              Expected completion:
            </div>
            <div class="date">
              {{ currentDate  | date("add", 7, "days") | date("DD-MMM-YY") }}
            </div>
          </div>
          <div class="from tile-grid-cell">
            <div class="label">
              From:
            </div>
            <div class="account-number">
              <a href="#">{{task.transferringAccount}}</a>
            </div>
            <div class="account-name">
              {{accountFromName}}
            </div>
          </div>
          <div class="to tile-grid-cell">
            <div class="label">
              To:
            </div>
            <div class="account-number">
              <a href="#">{% if task.acquiringAccount == "this" %}EU-100-{{ [73432,82345,73104,77732] | random }}-0-76{% else %}{{ task.acquiringAccount }}{% endif %}</a>
            </div>
            <div class="account-name">
              {{accountToName}}
            </div>
          </div>
          {% endif %}
          {% if 'Surrender' in task.type %}
          <div class="from tile-grid-cell">
            <div class="label">
              From:
            </div>
            <div class="account-number">
              <a href="#">{{task.accountFromID}}</a>
            </div>
            <div class="account-name">
              {{accountFromName}}
            </div>
          </div>
          {% endif %}
          {% if 'Submission' in task.type %}
          <div class="from tile-grid-cell">
            <div class="label">
              From:
            </div>
            <div class="account-number">
              <a href="#">{{task.accountFromID}}</a>
            </div>
            <div class="account-name">
              {{accountFromName}}
            </div>
          </div>
          <div class="to tile-grid-cell">
            <div class="label">
              Verifier:
            </div>
            <div class="account-number">
              {{task.verifier}}
            </div>
          </div>
          {% endif %}
          <div class="notes tile-grid-cell">
            <div class="label">
                Notes: 
            </div>
            <div class="text">
              <p>{{task.notes | d('Notes go here')}}</p>
            </div>
          </div>
          <div class="tile-buttons tile-grid-cell">
            <div class="accept">
              <button type="submit" class="govuk-button task-button approve-btn" valuee="Approve">Approve</button>
            </div>
            <div class="reject">
              <button type="submit" class="govuk-button task-button hmcts-button--secondary reject-btn">Reject</button>
            </div>
        </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
  </main>

</div>
</form>

{% endblock %}
{% block page_scripts %}
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
    /* global $, accessibleAutocomplete */
    var rejectCommentsBox = '<div class="govuk-form-group">'+
    '<label class="govuk-label" for="more-detail">Why are you rejecting this?</label>'+
    '<span id="more-detail-hint" class="govuk-hint">Please provide a reason.</span>'+
    '<textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>'+
    '</div>'
    var twoFactorBox = '<div class="govuk-form-group">'+
    '<label class="govuk-label" for="more-detail">Enter your 2fa code</label>'+
    '<span id="2fa-hint" class="govuk-hint">Use your Google Authenticator app to generate a code</span>'+
    '<input class="govuk-input govuk-input--width-10" id="2fa-input" name="2fa-input" aria-describedby="2fa-hint"></input>'+
    '</div>'
    var defaultState = '<div class="accept">'+'<button type="submit" class="govuk-button task-button approve-btn">Approve</button>'+
            '</div><div class="reject">'+
              '<button type="submit" class="govuk-button task-button hmcts-button--secondary reject-btn">Reject</button>'
            '</div>'
    $('body').on( "click", '.task-button', function(e) {
        function updateTransactionID (transaction, statusmsg, notes, approvedBy, rejectedBy) {
          var transactions = {{data.transactions | dump | safe }}
          transactions.find(function (t,index) {
            if (t.transactionId === transaction) {
              transactions[index].status = statusmsg
              transactions[index].lastUpdated = new Date(Date.now()).toISOString()
              if (notes !== null) {
                transactions[index].notes = notes
              }
              if (rejectedBy !== null) {
                transactions[index].rejectedby = rejectedBy
              }
               if (approvedBy !== null) {
                transactions[index].approver = approvedBy
              }
              $.ajax({
                method: "POST",
                url: "/app/tasks",
                data: { transactions },
                dataType: "json"
              })
            }
          })
        }
        function updateTaskID (task, taskStatus, notes, approvedBy, rejectedBy) {
          var tasks = {{data.tasks | dump | safe }}
          tasks.find(function (t,index) {
            if (t.taskID === task) {
              tasks[index].lastUpdated = new Date(Date.now()).toISOString()
              tasks[index].taskStatus = taskStatus
              if (notes !== null) {
                tasks[index].notes = notes
              }
              if (rejectedBy !== null) {
                tasks[index].rejectedby = rejectedBy
              }
               if (approvedBy !== null) {
                tasks[index].approver = approvedBy
              }
              $.ajax({
                method: "POST",
                url: "/app/tasks",
                data: { tasks },
                dataType: "json"
              })
            }
          })
        }
        function updateAccount (account, accountStatus, type) {
          var installations = {{data.installations | dump | safe }}
          var existingAuthorisedRepresentatives = {{data.existingAuthorisedRepresentatives | dump | safe }}
          if (type === 'user') {
            existingAuthorisedRepresentatives.find(function (t,index) {
              if (t.id === account) {
                existingAuthorisedRepresentatives[index].status = accountStatus
                $.ajax({
                  method: "POST",
                  url: "/app/tasks",
                  data: { existingAuthorisedRepresentatives },
                  dataType: "json"
                })
              }
            })
          } else {
            installations.find(function (t,index) {
              if (t.permitId === account) {
                installations[index].status = accountStatus
                $.ajax({
                  method: "POST",
                  url: "/app/tasks",
                  data: { installations },
                  dataType: "json"
                })
              }
            })
          }
        }
        var $taskItem = $(this).parents('.tile-container')
        var taskItemType = $taskItem.data('type')
        var taskID = ($taskItem.find('.number').text().split('-')[1]).trim()
        var accountID = ($taskItem.find('.account-id').text()).trim()
        e.preventDefault();
        var approvedTag = '<span class="jui-status  jui-status--new">Approved</span>'
        var rejectedTag = '<span class="jui-status  jui-status--urgent">Rejected</span>'
        var content
        if ($(this).hasClass('reject-closure-btn')){
            content = rejectCommentsBox + '<button type="submit" class="govuk-button task-button hmcts-button--primary reject-acc-closure-btn" style="margin-bottom: 0px;">Reject</button>'+
            '<button type="submit" class="govuk-button task-button govuk-!-margin-left-2 hmcts-button--secondary cancel-btn" style="margin-bottom: 0px;">Cancel</button>'
            $taskItem.find('.tile-buttons').html(content)
        }
         if ($(this).hasClass('approve-closure-btn')){
            content = twoFactorBox + '<button type="submit" class="govuk-button task-button hmcts-button--primary approve-acc-closure-btn" style="margin-bottom: 0px;">Approve</button>'+
            '<button type="submit" class="govuk-button task-button govuk-!-margin-left-2 hmcts-button--secondary cancel-btn" style="margin-bottom: 0px;">Cancel</button>'
            $taskItem.find('.tile-buttons').html(content)
        }
        if ($(this).hasClass('reject-btn')){
            content = rejectCommentsBox + '<button type="submit" class="govuk-button task-button hmcts-button--primary final-reject-btn" style="margin-bottom: 0px;">Reject</button>'+
            '<button type="submit" class="govuk-button task-button govuk-!-margin-left-2 hmcts-button--secondary cancel-btn" style="margin-bottom: 0px;">Cancel</button>'
            $taskItem.find('.tile-buttons').html(content)
        }
        if ($(this).hasClass('approve-btn')){
            content = twoFactorBox + '<button type="submit" class="govuk-button task-button hmcts-button--primary final-approve-btn" style="margin-bottom: 0px;">Approve</button>'+
            '<button type="submit" class="govuk-button task-button govuk-!-margin-left-2 hmcts-button--secondary cancel-btn" style="margin-bottom: 0px;">Cancel</button>'
            $taskItem.find('.tile-buttons').html(content)
        }
        if ($(this).hasClass('final-approve-btn')){
          $taskItem.find('.tile-buttons').addClass('approved-transaction').html(approvedTag)
          $taskItem.find('.transfer-completion').show()
          updateTransactionID(taskID,'Approved',null,'Registry user',null)
          $taskItem.delay(2000).fadeOut(500)
        }

        if ($(this).hasClass('final-reject-btn')){
            var notes = document.getElementById("more-detail").value
            $taskItem.find('.tile-buttons').addClass('approved-transaction').html(rejectedTag)
            updateTransactionID(taskID,'Rejected', notes, null, 'Registry user')
            $taskItem.delay(2000).fadeOut(500)
        }

        if ($(this).hasClass('reject-acc-closure-btn')){
            var notes = document.getElementById("more-detail").value
            $taskItem.find('.tile-buttons').addClass('approved-transaction').html(rejectedTag)
            updateTaskID(taskID,'Rejected', notes, null, 'Registry user')
            updateAccount(accountID,'open', taskItemType)
            $taskItem.delay(2000).fadeOut(500)
        }

        if ($(this).hasClass('approve-acc-closure-btn')){
            $taskItem.find('.tile-buttons').addClass('approved-transaction').html(approvedTag)
            updateTaskID(taskID,'Approved', notes, null, 'Registry user')
            updateAccount(accountID,'closed', taskItemType)
            $taskItem.delay(2000).fadeOut(500)
        }

        if ($(this).hasClass('cancel-btn')){
            $taskItem.find('.tile-buttons').html(defaultState)
        }
        
    });

    var element = document.querySelector('#user-full-name')
    accessibleAutocomplete.enhanceSelectElement({
        selectElement: element,
        displayMenu: 'overlay'
    });
  </script>
{% endblock %}
