{% extends "layouts/admin/base.html" %}

{% set pageID = "transactions" %}

{% block pageTitle %}Transactions {{'- ' + serviceName}}{% endblock %}

{% block content %}


<div class="jui-width-container">

  <main class="govuk-main-wrapper" role="main">
  <h1 class="govuk-heading-l">Search for transactions by:</h1>
<form action='search' method="POST">


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        <strong>Date range</strong>
    </span>
  </summary>
  <div class="govuk-details__text">

        {{ govukInput({
          id: "date-from",
          name: "search.date.from",
          classes: "govuk-!-width-one-quarter",
          label: {
            text: "From"
          },
          hint: {
            text: "For example: 10/12/2018"
          },
          value: data.search.from
        }) }}

        {{ govukInput({
          id: "date-to",
          name: "search.date.to",
          classes: "govuk-!-width-one-quarter",
          label: {
            text: "To"
          },
          value: data.search.from
        }) }}

  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        <strong>Transaction ID or type</strong>
    </span>
  </summary>
  <div class="govuk-details__text">

        {{ govukInput({
          id: "transaction-id",
          name: "search.transaction.id",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Enter the transaction ID"
          },
          value: data.search.transaction.id
        }) }}

          {{ govukSelect({
              id: "transaction-type",
              name: "search.transaction.type",
              label: {
              text: "Choose a type of transactions to search for"
              },
              items: [{
                  value: 'Choose a transaction type',
                  text: 'Choose a transaction type',
                  selected: checked("",'')
              }
              ]
              }) }}
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        <strong>Receiving account</strong>
    </span>
  </summary>
  <div class="govuk-details__text">

        {{ govukInput({
          id: "",
          name: "search.transaction.account.receiving",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Enter the account ID of the receiving account"
          },
          value: data.search.transaction.account.receiving
        }) }}
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        <strong>Sending account</strong>
    </span>
  </summary>
  <div class="govuk-details__text">

        {{ govukInput({
          id: "",
          name: "search.transaction.account.sending",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Enter the account ID of the sending account"
          },
          value: data.search.transaction.account.sending
        }) }}
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        <strong>User</strong>
    </span>
  </summary>
  <div class="govuk-details__text">

        {{ govukInput({
          id: "",
          name: "search.transaction.proposer",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Enter the user ID of the proposer"
          },
          value: data.search.transaction.proposer
        }) }}

        {{ govukInput({
          id: "",
          name: "search.transaction.approver",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Enter the user ID of the approver"
          },
          value: data.search.transaction.approver
        }) }}
  </div>
</details>

      {{ govukButton({
          text: "Search"
        }) }}
      </form>

  </main>

</div>

{% endblock %}
{% block page_scripts %}

{% endblock %}
