{% extends "layouts/admin/base.html" %}

{% set pageID = "users" %}

{% block pageTitle %}Users {{'- ' + serviceName}}{% endblock %}

{% block content %}


<div class="jui-width-container">

{% if query.returnAccount %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "▲ Return to account " + query.returnAccount,
      href: "/account/" + query.returnAccount
    }
  ]
}) }}
{% endif %}
  <main class="govuk-main-wrapper" role="main">
  <h1 class="govuk-heading-l">Search for users by:</h1>
<form action='search' method="POST">



        <div class="tile-container search">


          <div class="first-cell tile-grid-cell">
              <h2 class="govuk-heading-m">Account</h2>
        {{ govukInput({
          id: "account-name",
          name: "search.user.account.name",
          classes: "",
          label: {
            text: "Account name"
          },
          hint: {
            text: "You can use wildcards"
          },
          value: data.search.user.account.name
        }) }}

        {{ govukInput({
          id: "account-name",
          name: "search.user.accountHolder.name",
          classes: "",
          label: {
            text: "Account holder name"
          },
          value: data.search.user.accountHolder.name
        }) }}
          </div>
<div class="second-cell tile-grid-cell">
    <h2 class="govuk-heading-m">&nbsp;</h2>
        {{ govukInput({
          id: "",
          name: "search.user.account",
          classes: "govuk-!-width-full",
          label: {
            text: "Account ID"
          },
          hint: {
            text: "eg UK-12-1443-424253-23"
          },
          value: data.search.user.account
        }) }}

          {{ govukSelect({
              id: "user-role",
              name: "search.user.role",
              label: {
              text: "User's role on account"
              },
              items: [{
                  value: 'Choose a user role',
                  text: 'Choose a user role',
                  selected: checked("",'')
              }
              ]
              }) }}
</div>
<div class="third-cell tile-grid-cell">
    <h2 class="govuk-heading-m">User</h2>
        {{ govukInput({
          id: "",
          name: "search.user.name",
          classes: "govuk-!-width-full",
          label: {
            text: "Name"
          },
          hint: {
            text: "You can use wildcards"
          },
          value: data.search.user.name
        }) }}

        {{ govukInput({
          id: "",
          name: "search.user.email",
          classes: "govuk-!-width-full",
          label: {
            text: "Email address"
          },
          value: data.search.user.email
        }) }}

          </div>
        <div class="advanced-search tile-grid-cell">
            <a href="#">Advanced Search</a>
        </div>

 <div class="tile-buttons tile-grid-cell">
              <div class="accept">
                  <a href="search?q=xyz{% if query.returnAccount %}&returnAccount={{query.returnAccount}}&persist=No{% endif %}" role="button" draggable="false" class="govuk-button approve-btn">Search</a>
              </div>
              <div class="reject">
                <a href="#" role="button" draggable="false" class="govuk-button hmcts-button--secondary reject-btn">Clear Search</a>
              </div>
        </div>
        </div>



  </main>

</div>

{% endblock %}
{% block page_scripts %}

{% endblock %}
