{% extends "layouts/admin/base-account-question.html" %}
<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">We've received your 2018 emissions data</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HXJ76393F</strong>
        </div>
      </div>

      {{ govukInsetText({
        html: "<a class='govuk-link' href='/account/" + installationData.permitId +"/'>Visit the account page to see your previous emissions data</a>."
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You have until 11.59pm 15 March 2019 to surrender enough allowances to cover your verified emissions.

        </strong>
      </div>

      <p class="govuk-body">We have sent you a confirmation email.</p>
      <p class="govuk-body">Your 2018 emissions need to be verified <strong>
      {% if data.etsSubmitEmmissions.selectVerifier == 'other' %}
        {{ data.etsSubmitEmmissions.verifier }}
      {% else %}
        {{ data.etsSubmitEmmissions.selectVerifier }}
      {% endif %}</strong>before 12 March 2019 - we've sent your verifier a notification email.</p>





{% endblock %}
