{% extends "layouts/admin/base-account-question.html" %}

{% block pageTitle %}
  Enter your 2018 emissions
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ installationData.name}}</span>
      Enter your 2018 emissions
    </h1>
    <p>
    Your emissions data must be the same as the data verified in your Annual Emissions Report (AER).
    </p>
    {{ govukDetails({
      summaryText: "Read more about Annual Emissions Reports",
      html: "<p><a rel='nofollow' target='_blank' href='https://data.gov.uk/dataset/9a1e58e5-d1b6-457d-a414-335ca546d52c/uk-greenhouse-gas-emissions-annual-data'>UK greenhouse gas emissions: annual data</a></p>"
    }) }}
    <form class="form" action="specify-amount" method="post">
      {% call govukFieldset({
        legend: {
          text: "",
          classes: "govuk-body-m govuk-!-margin-bottom-6",
          isPageHeading: false
        }
      }) %}

        {{ govukInput({
          label: {
            html: 'Carbon dioxide (C0<sub>2</sub>)'
          },
          hint: {
              text: "Metric tonnes"
            },
          classes: 'govuk-input--width-10',
          name: "etsSubmitEmmissions.emissions.co2",
          value: data.etsSubmitEmmissions.emissions.co2
        }) }}

        {{ govukInput({
          label: {
            html: 'Perfluorocarbons (PFCs)'
          },
          hint: {
              text: "Metric tonnes"
            },
          classes: 'govuk-input--width-10',
          name: "etsSubmitEmmissions.emissions.pfc",
          value: data.etsSubmitEmmissions.emissions.pfc
        }) }}

        {{ govukInput({
          label: {
            html: 'Nitrous oxide (N<sub>2</sub>O)'
          },
          hint: {
              text: "Metric tonnes"
            },
          classes: 'govuk-input--width-10',
          name: "etsSubmitEmmissions.emissions.no2",
          value: data.etsSubmitEmmissions.emissions.no2
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      {% endcall %}
    <form>
{% endblock %}
