{% extends "layouts/admin/base-account-question.html" %}

{% block pageTitle %}
  Check before closing the account
{% endblock %}


{% block content %}

  <h1 class="govuk-heading-xl">Check before closing the account</h1>
    <form class="form" action="check-and-submit" method="post">

      <p>You are about to close account <strong>{{ installationData.permitId }}</strong>.</p>
      <p>Closing the account will not be possible if there are any allowances in the account.</p>

      {{ govukButton({
        text: "Close account"
      }) }}
    </form>

{% endblock %}
