{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Case file {{'- ' + serviceName}}{% endblock %}

{% block content %}

  {{ hmctsIdentityBar({
    title: {
      html: casebar.parties
      },
    items: [
      {
        text: 'Make a decision',
        href: '/app/cases/'+_case.id+'/fr/decision'
      }
    ]
  }) }}

  <main class="govuk-main-wrapper govuk-!-padding-bottom-0" role="main">

    <div class="jui-width-container">

      {{ hmctsSubNavigation({
        label: 'Case navigation',
        items: caseNavItems
      }) }}

      {{ hmctsPageHeaderWithActions({
        classes: 'govuk-!-margin-bottom-9',
        title: {
          html: '<span class="govuk-caption-xl">Case file</span>
          <h1 class="govuk-heading-xl">Draft consent order</h1>'
        },
        items: [{
          classes: 'hmcts-button--secondary',
          text: 'Upload new item',
          href: '/app/cases/'+_case.id+'/fr/upload-new-item'
        }]
      }) }}

    </div>

    <div class="jui-toolbar">
      <div class="jui-toolbar__container">
        <div class="jui-toolbar__section1">
          <button class="jui-toolbar__button jui-toolbar__button--items" aria-pressed="true">Files</button>
          <div class="jui-toolbar__menu">
            <button class="jui-toolbar__menu-button jui-toolbar__menu-button--view">View</button>
            <div class="jui-toolbar__menu-content js-hidden">
              <button class="jui-toolbar__menu-item jui-toolbar__menu-item--show-comments" aria-pressed="false">Show comments</button>
              <button class="jui-toolbar__menu-item jui-toolbar__menu-item--show-rotate-controls">Show rotate controls</button>
            </div>
          </div>
        </div>
        <div class="jui-toolbar__section2">
          <!-- <button class="jui-toolbar__button">Upload</button> -->
          <button class="jui-toolbar__button">Search</button>
        </div>
      </div>
    </div>


    <div class="jui-cf">

      <!-- <div class="jui-cf__toolbar" role="toolbar">

        <div class="jui-cf__toolbar-container">
          <button class="jui-cf__toolbar-button jui-cf__toolbar-button--items" type="button" aria-controls="files">All items</button>
          <button class="jui-cf__toolbar-button jui-cf__toolbar-button--comments" type="button" aria-controls="comments">Comments</button>
        </div>

      </div> -->

      <div class="jui-cf__window">

        <div class="jui-cf__window-container">

          <div class="jui-cf__files" id="files">

            <h2 class="govuk-visually-hidden" id="all-items">All items</h2>

            <ul class="jui-tree" aria-labelledby="all-items">

              <li class="jui-tree__item jui-tree__item--open">

                <span class="jui-tree__folder">Draft consent orders</span>

                <ul class="jui-tree__folder-group">

                  <li class="jui-tree__doc">
                    <a class="jui-tree__doc-link" href="/app/cases/FR1231612322/documents/draft-consent-order" aria-current="true">
                      <span class="jui-tree__doc-name">Draft consent order</span>
                      <span class="jui-tree__doc-meta">Added 27 Jan 2018 at 2:31pm</span>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="jui-tree__item">

                <span class="jui-tree__folder">Statements of information</span>

                <ul class="jui-tree__folder-group">

                  <li class="jui-tree__doc">
                    <a class="jui-tree__doc-link" href="/app/cases/FR1231612322/documents/statement-of-information">
                      <span class="jui-tree__doc-name">Form D81 application document</span>
                      <span class="jui-tree__doc-meta">Added 27 Jan 2018 at 2:15pm</span>
                    </a>
                  </li>

                  <li class="jui-tree__doc">
                    <a class="jui-tree__doc-link" href="#!">
                      <span class="jui-tree__doc-name">Form D81 respondent document</span>
                      <span class="jui-tree__doc-meta">Added 27 Jan 2018 at 2:23pm</span>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="jui-tree__item">

                <span class="jui-tree__folder">Form A</span>

                <ul class="jui-tree__folder-group">

                  <li class="jui-tree__doc">
                    <a class="jui-tree__doc-link" href="/app/cases/FR1231612322/documents/form-a">
                      <span class="jui-tree__doc-name">Form A</span>
                      <span class="jui-tree__doc-meta">Added 26 Jan 2018 at 9:56am</span>
                    </a>
                  </li>

                </ul>

              </li>


              <li class="jui-tree__item">

                <span class="jui-tree__folder">Decree nisi</span>

                <ul class="jui-tree__folder-group">

                  <li class="jui-tree__doc">
                    <a class="jui-tree__doc-link" href="/app/cases/FR1231612322/documents/decree-nisi">
                      <span class="jui-tree__doc-name">Grant of decree nisi</span>
                      <span class="jui-tree__doc-meta">Added 26 Jan 2018 at 10:01am</span>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="jui-tree__item">

                <span class="jui-tree__folder">Pension forms</span>

                <ul class="jui-tree__folder-group">

                  <li class="jui-tree__doc">
                    <a class="jui-tree__doc-link" href="#!">
                      <span class="jui-tree__doc-name">Form P1</span>
                      <span class="jui-tree__doc-meta">Added 26 Jan 2018 at 11:01am</span>
                    </a>
                  </li>

                  <li class="jui-tree__doc">
                    <a class="jui-tree__doc-link" href="#!">
                      <span class="jui-tree__doc-name">Form P2</span>
                      <span class="jui-tree__doc-meta">Added 26 Jan 2018 at 11:02am</span>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="jui-tree__item">

                <span class="jui-tree__folder">Letters</span>

                <ul class="jui-tree__folder-group">

                  <li class="jui-tree__doc">
                    <a class="jui-tree__doc-link" href="#!">
                      <span class="jui-tree__doc-name">Solicitor letter</span>
                      <span class="jui-tree__doc-meta">Added 27 Jan 2018 at 2:31pm</span>
                    </a>
                  </li>

                  <li class="jui-tree__doc">
                    <a class="jui-tree__doc-link" href="#!">
                      <span class="jui-tree__doc-name">Notice of acting</span>
                      <span class="jui-tree__doc-meta">Added 27 Jan 2018 at 2:31pm</span>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="jui-tree__item">

                <span class="jui-tree__folder">Other evidence</span>

                <ul class="jui-tree__folder-group">

                  <li class="jui-tree__doc">
                    <a class="jui-tree__doc-link" href="#!">
                      <span class="jui-tree__doc-name">Schedule of assets</span>
                      <span class="jui-tree__doc-meta">Added 27 Jan 2018 at 2:31pm</span>
                    </a>
                  </li>

                </ul>

              </li>

            </ul>

          </div>

          <div class="jui-cf__document">

            <div class="jui-cf__document-comments" id="comments">

              {{ hmctsBanner({
                type: 'information',
                text: 'Select text to add a comment.',
                iconFallbackText: 'Success'
              }) }}

              <div class="jui-comment">

                <div class="jui-comment__header">
                  <span class="jui-comment__author">Judge Prita Shah</span>
                  <time class="jui-comment__meta" datetime="2018-08-23T16:48">23 August 2018 at 4:48pm</time>
                </div>

                <div class="jui-comment__content"><p>Please provide more details on the contents of family home.</p></div>

                <div class="jui-comment__footer">
                  <button class="govuk-button" type="submit">Edit</button>
                  <button class="govuk-button hmcts-button--secondary" type="submit">Delete</button>
                </div>

              </div>

            </div>

            <div class="jui-cf__document-pages">
              <div class="jui-cf__document-page">
                <button class="jui-cf__rotate-button">Rotate</button>
                <div class="jui-cf__document-page-scroll">
                    <div class="jui-cf__document-page-inner">
                        <img src="/public/images/casefile/draft-consent-order-p1.jpg" alt="Draft consent order page 1">
                    </div>
                </div>
              </div>
              <div class="jui-cf__document-page">
                <button class="jui-cf__rotate-button">Rotate</button>
                <div class="jui-cf__document-page-scroll">
                  <div class="jui-cf__document-page-inner">
                    <img src="/public/images/casefile/draft-consent-order-p2.jpg" alt="Draft consent order page 2">
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </main>

{% endblock %}

{% block page_scripts %}
  <script>
    new Casefile($('.jui-cf'));
    new Tree($('.jui-tree'));
    new Toolbar();


    $('.jui-cf__rotate-button').on('click', function(e) {
      var page = $(e.target).parents('.jui-cf__document-page');

      if(page.hasClass('jui-cf__document-page--rotate-90')) {
        page.removeClass('jui-cf__document-page--rotate-90');
        page.addClass('jui-cf__document-page--rotate-180');
      } else if(page.hasClass('jui-cf__document-page--rotate-180')) {
        page.removeClass('jui-cf__document-page--rotate-180');
        page.addClass('jui-cf__document-page--rotate-270');
      } else if(page.hasClass('jui-cf__document-page--rotate-270')) {
        page.removeClass('jui-cf__document-page--rotate-270');
      } else {
        page.addClass('jui-cf__document-page--rotate-90');
      }

    });
  </script>
{% endblock %}