{% extends "layouts/admin/base-account.html" %}
{% set columnWidth = 'full' %}

{% block pageTitle %}Summary {{'- ' + serviceName}}{% endblock %}

{% block content %}

      <h2 class="govuk-heading-m">Holdings</h2>

      <p>This account holds 
      {% for item in installationData.holdings %}
          {% for unit, value in item %}
          {% set unit = 'general allowance' if unit == 'generalAllowance' else unit %}
          {% if loop.length > 1 and loop.last %} and {% endif %}
          <strong>{{ value }} </strong>{{ unit }}s{% if loop.last %}.{% else %},{% endif %}
          {% endfor %}
      {% endfor %}
      </p>

      {% if not data.userPersona or data.userPersona == 'ea' %}
      <h2 class="govuk-heading-m">Compliance History</h2>
      <table class="govuk-table" data-type="compliance-period">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header" scope="col">Date submitted</th>
            <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-20 " scope="col">Year</th>
            <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-20 " scope="col">Emissions reported</th>
            <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-20 " scope="col">Allowance surrendered</th>
            <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-20 " scope="col">Balance</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">19 March 2014</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2013</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,938</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,938</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
              <td class="govuk-table__cell" scope="row">20 March 2015</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2014</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,480</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,480</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">29 March 2016</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2015</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,960</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3,050</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">90</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">29 March 2017</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2016</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,560</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,470</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">29 March 2018</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2017</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,560</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,470</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">
                {% if data.etsSubmitEmmissions %}
                {{ currentDate | date("DD MMMM YYYY") }}
                {% else %}
                N/A
                {% endif %}
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2018</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                {% if data.etsSubmitEmmissions %}
                {{ data.etsSubmitEmmissions.total }} <br />
                {% else %}
                <span class="jui-status  jui-status--new  govuk-!-margin-left-1">Due 11 March</span>
                {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="jui-status  jui-status--new  govuk-!-margin-left-1">Due 15 March</span></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
          </tr>

        </tbody>
      </table>
      {% endif %}
      <h2 class="govuk-heading-m">Transaction History</h2>

<table class="govuk-table" data-type="transactions">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header govuk-!-width-10" scope="col">Reference</th>
            <th class="govuk-table__header govuk-!-width-10" scope="col">Started</th>
            <th class="govuk-table__header govuk-!-width-10" scope="col">Last updated</th>
            <th class="govuk-table__header govuk-!-width-10" scope="col">Type</th>
            <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-10" scope="col">Units</th>
            <th class="govuk-table__header govuk-!-width-10" scope="col">Unit Type</th>
            <th class="govuk-table__header govuk-!-width--15" scope="col">Transferring Acct</th>
            <th class="govuk-table__header govuk-!-width-15" scope="col">Acquiring Acct</th>
            <th class="govuk-table__header govuk-!-width-10 govuk-table__header--numeric" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% if data.etsSurrenderAllowance.amountToSurrender %}
          <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href="#">EU596032</th>
              <td class="govuk-table__cell ">
                {{ currentDate | date("DD MMMM YYYY") }}<br/>
                {{ currentDate | date("h:mm:ss a") }}
              </td>
              <td class="govuk-table__cell ">
                {{ currentDate | date("DD MMMM YYYY") }}<br/>
                {{ currentDate | date("h:mm:ss a") }}
              </td>
              <td class="govuk-table__cell ">10-02 Surrender Allowances</td>
              <td class="govuk-table__cell govuk-table__cell--numeric ">
              {% if data.etsSurrenderAllowance.amountToSurrender == 'other' %}
                <strong>140</strong> units oversurrendered
              {% else %}
                {{ data.etsSurrenderAllowance.amountToSurrender }}
              {% endif %}
              </td>
              <td class="govuk-table__cell ">GA</td>
              <td class="govuk-table__cell ">{{installationID}}</td>
              <td class="govuk-table__cell ">EU-110-93932-0-11</td>
              <td class="govuk-table__cell ">
                {{ govukTag({
                text: 'awaiting approval'
              }) }}
              </td>
          </tr>
          {% endif %}
          {% if data.etsTransferAllowance %}
          <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row">EU580697</th>
              <td class="govuk-table__cell ">
                {{ currentDate | date("DD MMMM YYYY") }}<br/>
                {{ currentDate | date("h:mm:ss a") }}
              </td>
              <td class="govuk-table__cell ">
                {{ currentDate | date("DD MMMM YYYY") }}<br/>
                {{ currentDate | date("h:mm:ss a") }}
              </td>
              <td class="govuk-table__cell ">10-05 Transfer Allowances</td>
              <td class="govuk-table__cell govuk-table__cell--numeric ">
            {% for unit, value in data.etsTransferAllowance.holdings %}
                {% set unitDisplayName = 'General Allowance' if unit == 'generalAllowance' else unit %}
                {% if unit == data.etsTransferAllowance.unitType %}
                {{ value.moved }}
                {% endif %}
            {% endfor %}
              </td>
              <td class="govuk-table__cell ">
            {% for unit, value in data.etsTransferAllowance.holdings %}
                {% set unitDisplayName = 'General Allowance' if unit == 'generalAllowance' else unit %}
                {% if unit == data.etsTransferAllowance.unitType %}
                {{ unitDisplayName }}
                {% endif %}
            {% endfor %}
              </td>
              <td class="govuk-table__cell ">{{installationID}}</td>
              <td class="govuk-table__cell ">
              {% if data.etsTransferAllowance.recipientType == 'existing' %}
                {{ data.etsTransferAllowance.recipient}}
              {% elif data.etsTransferAllowance.recipientType == 'new' %}
                {{ data.etsTransferAllowance.recepientId }}
              {% endif %}
            </td>
              <td class="govuk-table__cell ">
                  {% if data.etsTransferAllowance.approved == 'Yes' %}
                  <span class="jui-status  jui-status--new  govuk-!-margin-left-1">Delayed until {{ currentDate | date("DD MMMM YYYY") }}</span>
                  {% else %}
                <span class="jui-status  jui-status--new  govuk-!-margin-left-1" >Awaiting Approval</span>
                  {% endif %}
              </td>
          </tr>
          {% endif %}
            {% for tx in data.transactions.slice(0,3) %}
          <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row">{{ tx.transactionId }}</th>
              <td class="govuk-table__cell ">{{ tx.started }}</td>
              <td class="govuk-table__cell ">{{ tx.lastUpdated }}</td>
              <td class="govuk-table__cell ">{{ tx.type }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric ">{{ tx.units }}</td>
              <td class="govuk-table__cell ">{{ tx.unitType }}</td>
              <td class="govuk-table__cell ">{% if tx.transferringAccount == "this" %}{{ installationData.permitId }}{% else %}{{ tx.transferringAccount }}{% endif %}</td>
              <td class="govuk-table__cell ">{% if tx.acquiringAccount == "this" %}{{ installationData.permitId }}{% else %}{{ tx.acquiringAccount }}{% endif %}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">{{ tx.status }}</td>
          </tr>
            {% endfor %}

        </tbody>
      </table>
      <p style="margin-top: -10px;">

      <a href="#">View all transactions</a><a href="#" style="margin-left: 30px;">Export all transactions</a>
      </p>

      <h2 id="trusted-accounts" class="govuk-heading-m">Trusted Accounts</h2>

<table class="govuk-table" data-type="trustedAccounts">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header govuk-!-width-20" scope="col">Account</th>
            <th class="govuk-table__header govuk-!-width-20" scope="col">Name</th>
            <th class="govuk-table__header govuk-!-width-20" scope="col">Note</th>
            <th class="govuk-table__header govuk-!-width-20" scope="col">Legal Entity</th>
            <th class="govuk-table__header govuk-!-width-20 govuk-table__header--numeric" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% if data.newTrustedAccounts %}
            {% for item in data.newTrustedAccounts %}
              <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href="#">EU-100-70694-0-13</a>
              </th>
              <td class="govuk-table__cell ">
                {{ item.nickname }}
              </td>
              <td class="govuk-table__cell ">
                {{ item.note }}
              </td>
              <td class="govuk-table__cell ">Green Stripe Food and Drinks Limited</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ govukTag({
                text: "approval pending"
              }) }}
              </td>
          </tr>
            {% endfor %}
            {% endif %}
            {% for ea in data.existingAccounts %}
          <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href="#">{{ ea.id }}</th>
              <td class="govuk-table__cell ">{{ ea.name }}</td>
              <td class="govuk-table__cell ">Currently no notes exist</td>
              <td class="govuk-table__cell ">{{ ea.legalEntity }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ govukTag({
                  "text": "trusted",
                  "classes": "govuk-tag--active"
                }) }}
              </td>
          </tr>
            {% endfor %}

        </tbody>
      </table>
      <h2 id="representatives" class="govuk-heading-m">Representatives</h2>
      <table class="govuk-table" data-type="representatives">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header" scope="col">Id</th>
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header " scope="col">Job Title</th>
            <th class="govuk-table__header " scope="col">Contact</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if data.newAuthorisedReps %}
          {% for name in data.newAuthorisedReps %}
            <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href="#">939-216-693</a>
              </th>
              <td class="govuk-table__cell ">{{ name }}</td>
              <td class="govuk-table__cell ">Account Manager</td> 
              <td class="govuk-table__cell ">joe.brown@blue.com <br />Tel: 07823 423242</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ govukTag({
                  text: "approval pending"
                }) }} 
              </td>
            </tr>
          {% endfor %}
          {% endif %}
            {% for ta in data.existingAuthorisedRepresentatives %}
          <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href="#">{{ ta.id }}</th>
              <td class="govuk-table__cell ">{{ ta.name }}</td>
              <td class="govuk-table__cell ">{{ ta.jobTitle }}</td>
              <td class="govuk-table__cell ">{{ ta.email }}<br/>Tel: {{ ta.phone }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ govukTag({
                  "text": "authorised",
                  "classes": "govuk-tag--active"
                }) }}
              </td>
          </tr>
            {% endfor %}

        </tbody>
      </table>
{% endblock %}
{% block timeline %}

{% endblock timeline %}
