{% extends "layouts/admin/base-account.html" %}
{% set columnWidth = 'full' %}

{% block pageTitle %}Summary {{'- ' + serviceName}}{% endblock %}

{% block content %}
      <h2 class="govuk-heading-l">Holdings</h2>
      <p>This account holds
        {% for item in installationData.holdings %}
           {%- for unit, value in item -%}
           {% set unit = 'allowance' if unit == 'generalAllowance' else unit %}
           {%- if loop.length > 1 %}{% if loop.last %} and {% endif %}{% if not loop.last and not loop.first -%}, {% endif %}{%- endif -%}
           <strong>{{ value | formatNumber }}</strong> {{ unit }}s
           {%- endfor -%}.
       {% endfor %}
      </p>

      {% if not data.userPersona or data.userPersona == 'ea' %}
      <h2 class="govuk-heading-l">Compliance history</h2>

      {% if data.etsSubmitEmmissions.total %}
        {% if data.etsSubmitEmmissions.total - data.etsSurrenderAllowance.totalAmountSurrendered <= 0 %}
            <p>You have already surrendered <strong>{{ data.etsSurrenderAllowance.totalAmountSurrendered }}</strong> allowances, so have met your obligations.</p>
        {% else %}
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You must surrender <strong>{{ data.etsSubmitEmmissions.total - data.etsSurrenderAllowance.totalAmountSurrendered | d(0) }}</strong> allowances before 11:59pm 15 March 2019.
              </strong>
            </div>
        {% endif %}
        {% else %}
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You need to submit your emissions for 2018.
              </strong>
            </div>
      {% endif %}
      <table class="govuk-table app-table--overflow" data-type="compliance-period">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header govuk-!-width-20 " scope="col">Year</th>
            <th class="govuk-table__header" scope="col">Date submitted</th>
            <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-20 " scope="col">Emissions reported (CO2e)</th>
            <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-20 " scope="col">Allowances surrendered</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell">2013</td>
            <td class="govuk-table__cell" scope="row">19 March 2014</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,938</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,938</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell">2014</td>
              <td class="govuk-table__cell" scope="row">20 March 2015</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,480</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,480</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell">2015</td>
            <td class="govuk-table__cell" scope="row">29 March 2016</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,960</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,960</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell">2016</td>
            <td class="govuk-table__cell" scope="row">29 March 2017</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,560</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,760 (+200)</td>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell">2017</td>
            <td class="govuk-table__cell" scope="row">29 March 2018</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,780</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,680 (-100)</td>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
              <td class="govuk-table__cell">2013-2017 <a class="js-expand-previous-years" href="#" style="margin-left: 10px;">Expand ▼</a></td>
            <td class="govuk-table__cell" scope="row">Various dates</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">13,718</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">13,818 (+100)</td>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell">2018</td>
            <td class="govuk-table__cell" scope="row">
                {% if data.etsSubmitEmmissions %}
                {{ currentDate | date("DD MMMM YYYY") }}
                {% else %}
                N/A
                {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                {% if data.etsSubmitEmmissions %}
                {{ data.etsSubmitEmmissions.total | formatNumber }} <br />
                {% else %}
                <span class="jui-status  jui-status--urgent  govuk-!-margin-left-1">Due 11 March</span>
                {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                {% if data.etsSurrenderAllowance.totalAmountSurrendered > 0 %}
                    {{ data.etsSurrenderAllowance.totalAmountSurrendered | formatNumber }}
                {% else %}
                <span class="jui-status  jui-status--urgent  govuk-!-margin-left-1">
                    Due 15 March
                </span></td>
                {% endif %}
          </tr>

        </tbody>
      </table>
      {% endif %}
      <h2 class="govuk-heading-l">Transaction history</h2>

<table class="govuk-table app-table--overflow" data-type="transactions">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header govuk-!-width-10" scope="col">Reference</th>
            <th class="govuk-table__header govuk-!-width-10" scope="col">Last updated</th>
            <th class="govuk-table__header govuk-!-width-15" scope="col">Type</th>
            <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-10" scope="col">Allowances</th>
            <th class="govuk-table__header govuk-!-width-10" scope="col">Unit type</th>
            <th class="govuk-table__header govuk-!-width-15" scope="col">Transferring acct</th>
            <th class="govuk-table__header govuk-!-width-15" scope="col">Acquiring acct</th>
            <th class="govuk-table__header govuk-!-width-15 govuk-table__header--numeric" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% set latestTransactions = data.transactions | sort(true, false, 'started') %}
            {% for tx in latestTransactions.slice(0,3) %}
          <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href='/app/transaction/{{ tx.transactionId }}'>{{ tx.transactionId }}</a></th>
              <td class="govuk-table__cell ">
                {{ tx.lastUpdated | date("DD-MMM-YY") }}<br/>
                {{ tx.lastUpdated | date("HH:mm:ss") }}
              </td>
              <td class="govuk-table__cell ">{{ tx.type }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric ">
              {% for unit in tx.units %}
              {{ unit.amount | formatNumber}} <br />
              {% endfor %}
              </td>
              <td class="govuk-table__cell ">
              {% for unit in tx.units %} 
              {{ unit.type }} <br />
              {% endfor %}
              </td>
              <td class="govuk-table__cell "><a href="#">{% if tx.transferringAccount == "this" %}{{ installationData.permitId }}{% else %}{{ tx.transferringAccount }}{% endif %}</a></td>

              <td class="govuk-table__cell ">
                  {% if tx.type == "Surrender" %}
                    <span style="color: #8A8A8A; letter-spacing: .5px;">SURRENDER</span>
                  {% elif 'submission' in tx.type | lower %}
                    <span style="color: #8A8A8A; letter-spacing: .5px;">SUBMISSION</span>
                  {% else %}
                    <a href="#">{% if tx.acquiringAccount == "this" %}{{ installationData.permitId }}{% else %}{{ tx.acquiringAccount }}{% endif %}</a>
                  {% endif %}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                  {% if tx.status == "Completed" %}
                    <span class="jui-status  jui-status--complete  govuk-!-margin-left-1" >{{ tx.status }}</span>
                  {% elif tx.status == "Failed" %}
                    <span class="jui-status  jui-status--urgent  govuk-!-margin-left-1" >{{ tx.status }}</span>
                  {% else %}
                    <span class="jui-status  jui-status--pending  govuk-!-margin-left-1" >{{ tx.status }}</span>
                  {% endif %}
              </td>
          </tr>
            {% endfor %}

        </tbody>
      </table>
      <p style="margin-top: -10px;">

      <a href="/app/transactions/search?q=all&returnAccount={{ installationData.permitId }}">View all transactions</a><a href="" style="margin-left: 30px;">Export all transactions</a>
      </p>

      <h2 id="trusted-accounts" class="govuk-heading-l">Trusted accounts</h2>

<table class="govuk-table app-table--overflow" data-type="trustedAccounts">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header govuk-!-width-20" scope="col">Account</th>
            <th class="govuk-table__header govuk-!-width-20" scope="col">Nickname</th>
            <th class="govuk-table__header govuk-!-width-20" scope="col">Notes</th>
            <th class="govuk-table__header govuk-!-width-20" scope="col">Legal entity</th>
            <th class="govuk-table__header govuk-!-width-20 govuk-table__header--numeric" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% if data.newTrustedAccounts %}
            {% for item in data.newTrustedAccounts %}
              <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href="#">EU-100-70694-0-13</a>
              </th>
              <td class="govuk-table__cell ">
                {{ item.nickname }}
              </td>
              <td class="govuk-table__cell ">
                {{ item.note }}
              </td>
              <td class="govuk-table__cell ">Green Stripe Food and Drinks Limited</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              {{ govukTag({
                text: "approval pending"
              }) }}
              </td>
          </tr>
            {% endfor %}
            {% endif %}
            {% for ea in data.existingAccounts %}
          <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href="#">{{ ea.id }}</th>
              <td class="govuk-table__cell ">{{ ea.name }}</td>
              <td class="govuk-table__cell ">Currently no notes exist</td>
              <td class="govuk-table__cell ">{{ ea.legalEntity }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <span class="jui-status  jui-status--complete  govuk-!-margin-left-1" >Active</span>
              </td>
          </tr>
            {% endfor %}

        </tbody>
      </table>
      <h2 id="representatives" class="govuk-heading-l">Authorised representatives</h2>
      <table class="govuk-table app-table--overflow" data-type="representatives">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header" scope="col">Representative's ID</th>
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header " scope="col">Job title</th>
            <th class="govuk-table__header " scope="col">Contact</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if data.newAuthorisedReps %}
          {% for name in data.newAuthorisedReps %}
            <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href="#">939-216-693</a>
              <span class="jui-status  jui-status--new  govuk-!-margin-left-1">
                    APPROVAL PENDING
                </span>
              </th>
              <td class="govuk-table__cell ">{{ name }}</td>
              <td class="govuk-table__cell ">Account Manager</td>
              <td class="govuk-table__cell ">joe.brown@blue.com <br />Tel: 07823 423242</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                </td>
              </td>
            </tr>
          {% endfor %}
          {% endif %}
            {% for ta in data.existingAuthorisedRepresentatives %}
          <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href="#">{{ ta.id }}</th>
              <td class="govuk-table__cell ">{{ ta.name }}</td>
              <td class="govuk-table__cell ">{{ ta.jobTitle }}</td>
              <td class="govuk-table__cell ">{{ ta.email }}<br/>Tel: {{ ta.phone }}</td>
          </tr>
            {% endfor %}

        </tbody>
      </table>

      <p style="margin-top: -10px;">

      <a href="#">Manage representatives</a>
      </p>
{% endblock %}
{% block page_scripts %}
<script>
  var $trustedAccountsTable = $('[data-type="trustedAccounts"]')
  var notTop3tableRows = $trustedAccountsTable.find('.govuk-table__row:nth-child(n+4)')
  var viewAllButton = $('<p style="margin-top: -10px;"><a class="govuk-link js-show-all-trusted-accounts" href="#">View all trusted accounts</a></p>')
  notTop3tableRows.hide()
  $trustedAccountsTable.after(viewAllButton)
  $('body').on('click', '.js-show-all-trusted-accounts', function(e){
    e.preventDefault()
    notTop3tableRows.show()
    viewAllButton.remove()
  })

  {# expand compliance table #}
  var $complianceTable = $('[data-type="compliance-period"]')
  var previousYears = $complianceTable.find('.govuk-table__body .govuk-table__row:nth-child(-n+5)')
  var summaryRow = $complianceTable.find('.govuk-table__body .govuk-table__row:nth-child(6)')
  previousYears.hide()
  $('body').on('click', '.js-expand-previous-years', function(e){
    e.preventDefault()
    previousYears.show()
    summaryRow.hide()
    $(this).hide()
  })
</script>
{% endblock %}
