{% extends "layout.html" %}

{% block pageTitle %}
  What is the name of your account?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/2fa-submit">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/amount-submit" method="post">


        {% call govukFieldset({
          legend: {
            text: "What is the name of your account?",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              text: 'What is the name of your account?',
              classes:'govuk-visually-hidden'
            },
            id: "account-name",
            name: "account-name"
          }) }}

          {% set yesAnswerHTML %}
          {{ govukInput({
            id: "account-d",
            name: "account-d",
            classes: "govuk-input--width-10",
            label: {
              text: 'Enter your ID number',
              classes:'govuk-visually-hidden'
            },
            hint: {
              text: "Your ID"
            }
          }) }}
          {% endset -%}

          {{ govukRadios({
            idPrefix: "how-contacted-conditional",
            name: "how-contacted",
            fieldset: {
              legend: {
                text: "Has your account holder used ETS before?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: yesAnswerHTML
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

           {{ govukButton({
            text: "Continue"
          }) }}
        {% endcall %}
      </form>

    </div>
  </div>

{% endblock %}
