{% extends "layout.html" %}

{% block pageTitle %}
  How much allowance do you want to transfer?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/confirm-recipient-transfer">Back</a>
{% endblock %}


{% block content %}

<style>
input, select { display: block; }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ data['installationName']}}</span>
      How much allowance do you want to transfer?
    </h1>


<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">


<form class="form" action="/check-new-transfer" method="post">

  </legend>



  <div class="govuk-form-group">

    <label class="govuk-label" for="transfer-amount">
      Amount{% if data['unitName'] and data['installationName'] == 'Scunthorpe Integrated Iron & Steel Works' %} of {{ data['unitName'] }} unit{% endif %}
    </label>

    <span id="ID-hint" class="govuk-hint">
      You will have <span id="newnumber">{{ newNumber }}</span> units of allowance after this transfer
    </span>


    <input class="govuk-input govuk-input--width-6 myTextInput" id="amount-transfer" name="amount-transfer" type="number" value="{{ data['amount-transfer'] }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      
      var number = $('#amount-transfer').val();
      var amountYouHave;
      var amountYouWillHave;

      var allowanceUnitValue = '{{ data["allowanceUnitValue"] }}';
      var installationName = '{{ data["installationName"] }}';

      if ( allowanceUnitValue && installationName == 'Scunthorpe Integrated Iron &amp; Steel Works' ) {
        amountYouHave = '{{ data["allowanceUnitValue"] }}'
      } else {
        amountYouHave = '{{ data["allowanceValue"] }}'
      }

      if ( number ) {
        amountYouWillHave = amountYouHave - number;
      } else if ( !number ) {
        number = 0
        amountYouWillHave = amountYouHave;
      }
    
      $('#newnumber').text( amountYouWillHave );

      $('input.myTextInput').on('input',function(e){
        number = $('#amount-transfer').val();  
        if ( number ) {
          amountYouWillHave = amountYouHave - number;
        } else if ( !number ) {
          number = 0
        }
        $('#newnumber').text( amountYouWillHave );
      });
      
    </script>
  </div>


<div>
</div>

  <button class="govuk-button">Continue</button>

</form>
</fieldset>

  </div>
  {% include "includes/sidebar.html" %}
</div>

{% endblock %}
