{% extends "layout.html" %}

{% block pageTitle %}
  Enter your emissions
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/amount-2-surrender">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ data['which-installation']}}</span>
      Confirm you want to surrender
    </h1>

    <p> You have selected to surrender <strong>140</strong> general allowances more than you need to for 2018. Once you surrender this additional amount you can no longer transfer this to someone else.
    </p>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">


<form class="form" action="/confirmation-surrender" method="post">

  </legend>

  <div class="govuk-checkboxes" data-module="checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional-1">
      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
        Confirm you want to surrender 140 general allowance than you need to.
      </label>
    </div>
  </div>
<div style="margin-top:40px">



  <button class="govuk-button">Submit for approval</button>
</div>

</form>

</fieldset>

  </div>
</div>

{% endblock %}
