{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/verifier-submit">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your answers before submitting your emissions data
      </h1>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="govuk-heading-m">
        Emissions data
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            CO<sub>2</sub>
          </dt>
          <dd class="app-check-your-answers__answer">
             {{ data['emission-1']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/amount-submit">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            N<sub>2</sub>O
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['emission-2']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="amount-submit">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            PFCs
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['emission-3']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="amount-submit">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Verifier
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data['verifier-radio'] == 'Other' %}
              {{ data['verifier-select'] }}
            {% else %}
              {{ data['verifier-radio'] }}
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="verifier-submit">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now submit your emission data</h2>

      <p>
        Your submitted data will need to be verified by the Verifier you have selected.
      </p>

      <a class="govuk-button" href="/confirmation-submit" role="button">
        Submit Emissions
      </a>

    </div>
  </div>
{% endblock %}
