{% extends "layout.html" %}

{% block pageTitle %}
  Confirm amount you want to surrender
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/amount-2-surrender">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
          Confirm amount you want to surrender
      </h1>
      {% set number = data['amount-to-surrender'] %}
            {% set newNumber = number.split(',').join('') %}
      <!-- only add a heading for a list if there is more than one list -->
      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->


        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Your 2018  emissions</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" style="padding-right:5px;">2,480</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" style="    border-bottom-color: black;
      border-bottom-width: 2px;">Your credit</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" style="border-bottom-color: black;
      border-bottom-width: 2px;padding-right:5px;">320</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">You need to surrender</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" style="padding-right:7px;">2,160</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">You are surrendering</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" style="padding-right:7px;">2,160</td>
            </tr>
          </tbody>
        </table>



      <p class="govuk-body" style="margin-top:0px">You will have <strong>340 units</strong> left.</p>


      <a class="govuk-button" href="/confirmation-surrender" role="button">
        Submit for approval
      </a>

    </div>
  </div>
{% endblock %}
