{% extends "layout.html" %}

{% block pageTitle %}
  Confirm transfer to a new recipient
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/amount-new-transfer">Back</a>
{% endblock %}

{% block content %}

<style>
@media (min-width: 48.0625em) {
  .app-check-your-answers__question {
    width: 40% !important;
  }
}
</style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ data['installationName']}}</span>
        Confirm transfer to a new recipient
      </h1>
      <form class="form" action="/confirmation-new-transfer" method="post">

      <p class="govuk-body-l"><!-- Confirm transfer to a new recipient --></p>


      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Recipient name
          </dt>
          <dd class="app-check-your-answers__answer">
            Polimeri Europa UK
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/new-transfer">
              Change<span class="govuk-visually-hidden"> recipient</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Recipient ID
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['recipient-name'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/new-transfer">
              Change<span class="govuk-visually-hidden"> Amount</span>
            </a>
          </dd>
        </div>

        {% if data['unitName'] %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
            Unit
            </dt>
            <dd class="app-check-your-answers__answer">
              {{ data['unitName']}}
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="/choose-unit-transfer">
                Change<span class="govuk-visually-hidden"> Amount</span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
          Amount
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['amount-transfer']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/amount-new-transfer">
              Change<span class="govuk-visually-hidden"> Amount</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
          Balance after transfer
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data['allowanceUnitValue'] %}
              {{ data['allowanceUnitValue'] - data['amount-transfer'] }}
            {% else %}
              {{ data['allowanceValue'] - data['amount-transfer'] }}
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">

          </dd>
        </div>

</dl>
<p style="margin-top:-30px">
  Your transfer will be sent to another representative on your account to be approved.
</p>
<div class="govuk-checkboxes" data-module="checkboxes">
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional-1">
    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
      Save this recipient so you can transfer to them again later
    </label>
  </div>
</div>
<div style="margin-top:40px">
          <button class="govuk-button">Submit transfer and send for approval</button>
            </div>
  </form>
</div>
{% include "includes/sidebar.html" %}

</div>
{% endblock %}
