{% extends "layout.html" %}

{% block pageTitle %}
  Confirm transfer to an existing recipient
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/existing-transfer">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ data['installationName']}}</span>
        Confirm transfer to an existing recipient
      </h1>


      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Recipient
          </dt>
          <dd class="app-check-your-answers__answer">
             {{ data['recipient-select']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/existing-transfer">
              Change<span class="govuk-visually-hidden"> recipient</span>
            </a>
          </dd>
        </div>
        {% if data['recipient-select'] != 'Choose a recipient' %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Recipient ID
          </dt>
          <dd class="app-check-your-answers__answer">
            EU-100-77739-1-31
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/existing-transfer">
              Change<span class="govuk-visually-hidden"> Amount</span>
            </a>
          </dd>
        </div>
        {% endif %}

        {% if data['unitName'] %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
            Unit
            </dt>
            <dd class="app-check-your-answers__answer">
              {{ data['unitName']}}
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="/existing-transfer">
                Change<span class="govuk-visually-hidden"> Amount</span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Amount
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['amount-1']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/existing-transfer">
              Change<span class="govuk-visually-hidden"> Amount</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
           New balance
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data['allowanceUnitValue'] %}
              {{ data['allowanceUnitValue'] - data['amount-1'] }}
            {% else %}
              {{ data['allowanceValue'] - data['amount-1'] }}
            {% endif %}
            </script>


          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/existing-transfer">
            </a>
          </dd>
        </div>
      </dl>


      <p style="margin-top:-30px">
        Your transfer will be sent to another representative on your account to be approved.
      </p>

      <a class="govuk-button" href="/confirmation-transfer" role="button">
        Submit transfer and send for approval
      </a>

    </div>
    {% include "includes/sidebar.html" %}
  </div>
{% endblock %}
