{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">We have received your submission</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m" style="margin-top:40px">What happens next</h2>
      <p class="govuk-body">
        We have sent you a confirmation email.
      </p>
      <p class="govuk-body">Your proposed surrendering of allowance will need to be approved. We've sent your proposed surrender to all representatives for this account.</p>
      <p class="govuk-body">Learn more about <a href="#">how to get more allowance</a>.</p>


    </div>
  </div>

{% endblock %}
