{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Your proposed transfer has been submitted.</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>BGT8723X</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m" style="margin-top:40px"> What happens next</h2>
      <p class="govuk-body">
        We have sent you a confirmation email about your transfer. We have notified all representatives on your account who can approve this transfer.
      </p>

      <p>Once another representative has approved this transfer it will take 26 hours for the allowance to arrive in your recipient's account.
      </p>

      <p>You can now:</p>

  <ul class="govuk-list govuk-list--bullet">

          <li><a href="/installation-transfer">Make another transfer</a></li>
          <li><a href="/installation-submit">Submit emissions data for 2019</a></li>
          <li><a href="/installation-surrender">Surrender allowance for your installation</a></li>
      </ul>


      <p class="govuk-body">Learn more about <a href="https://www.gov.uk/guidance/eu-ets-allowances">how to get more allowance</a>.</p>


    </div>
  </div>

{% endblock %}
