{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">We have received your 2018 emissions</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HXJ76393F</strong>
        </div>
      </div>


      <h2 class="govuk-heading-m" style="margin-top:40px">What happens next</h2>
      <p class="govuk-body">We have sent you a confirmation email.</p>
      <p class="govuk-body">Your 2018 emissions still need to be verified by <strong>
      {% if data['verifier-radio'] == 'Other' %}
        {{ data['verifier-select'] }}
      {% else %}
        {{ data['verifier-radio'] }}
      {% endif %}</strong>before 31 March 2019. We have sent them a notification email.</p>


        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            You will also need to surrender enough allowances to cover your reported emissions by 30 April 2019 to be compliant with ETS.

          </strong>
        </div>

        <p>You can now:</p>

    <ul class="govuk-list govuk-list--bullet">

            <li><a href="/installation-transfer">Make an allowance transfer</a></li>
            <li><a href="/installation-submit">Submit emissions data for another installation or aircraft operator</a></li>
            <li><a href="/installation-surrender">Surrender allowance for your installation or aircraft operator</a></li>
        </ul>

    </div>
  </div>

{% endblock %}
