{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">We have received your submission to surrender allowances</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m" style="margin-top:40px">What happens next</h2>
      <p class="govuk-body">
        We have sent you a confirmation email.
      </p>

              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Your submission to surrender allowance will need to be approved. We've sent your submission to all representatives for this account.

                </strong>
              </div>


      <p>You can now:</p>

          <ul class="govuk-list govuk-list--bullet">

                  <li><a href="https://www.gov.uk/guidance/eu-ets-allowances">Acquire more allowance</a></li>
                  <li><a href="/installation-transfer">Make an allowance transfer</a></li>
                  <li><a href="/installation-submit">Submit emissions data for another installation or aircraft operator</a></li>


              </ul>


    </div>
  </div>

{% endblock %}
