{% extends "layout.html" %}

{% block pageTitle %}
  Enter your emissions
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/choose-transfer">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ data['which-installation']}}</span>
      How many allowance do you want to delete?
    </h1>

    <p> Deleting allowances will remove allowances from your account. You cannot retrieve deleted allowances once it has been processed.
    </p>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">


<form class="form" action="/confirmation-delete-transfer" method="post">

  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="delete-1">
      Amount
    </label>
    <input class="govuk-input govuk-input--width-5" id="delete-1" name="delete-1" type="number" value="{{ data['delete-1'] }}">
    <span id="ID-hint" class="govuk-hint">
      Your allowances after cancelling is ###
    </span>
  </div>

  <div class="govuk-checkboxes" data-module="checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional-1">
      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
        Confirm you want to delete ### general allowance.
      </label>
    </div>
  </div>
  <div style="margin-top:40px">


  <button class="govuk-button">Submit for approval</button>


</form>

</fieldset>

  </div>
</div>

{% endblock %}
