
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/email-submit">Submit emissions journey</a>
        </li>
        <li><a href="start-surrender">Surrender allowance journey</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
