{% extends "layout.html" %}

{% block pageTitle %}
  Emissions Trading System Alpha
{% endblock %}

{% block signedInContent %}
<!-- Don't show anything because we're not signed in at this point -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          {{ serviceName }}
        <span class="govuk-caption-xl">Alpha prototype</span>
      </h1>{{releaseVersion | log }}
      <p>
        Choose a task from below.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/start">Start - Registering an organisation</a>
        </li>
        <li><a href="create-an-identity/start?registrationJourney=userOnboarding">Start - setting up a new user account</a>
        <li><a href="/login-register">Sign-in</a>
        <li><a href="/app/dashboard">Dashboard</a>
        </li>
        <li><a href="/account/EU-100-73432-0-76/">Account page</a></li>
        <li><a href="/app/dashboard?taskCount=4">Task: approve a transaction</a>
        </li>
      </ul>


    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Controls</h2>
        <a href="/resetSessionData" role="button" class="govuk-button hmcts-menu__item hmcts-button--secondary ">
        Reset Prototype
        </a>
    </div>
</div>

{% endblock %}
