{% extends "layout.html" %}

{% block pageTitle %}
  Which installation do you want to transfer emissions from?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/2fa-transfer">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
         Which installation do you want to transfer emissions from?
       </h1>


      <form class="form" action="/choose-installation-route" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whichinstallation-1" name="whichinstallation" type="radio" value="Nevern Power Limited || 52834" {{ checked ('whichinstallation', 'Nevern Power Limited || 52834')}}>
                <label class="govuk-label govuk-radios__label" for="whichinstallation-1">
                  Nevern Power Limited (EU-100-73432-0-76)
                  <span id="ID-hint" class="govuk-hint">

                    52,834 units of general allowance
                    </span>
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whichinstallation-2" name="whichinstallation" type="radio" value="Scunthorpe Integrated Iron & Steel Works || 23871 || 158" {{ checked ('whichinstallation', 'Scunthorpe Integrated Iron & Steel Works || 23871 || 158')}} data-number="23871">
                <label class="govuk-label govuk-radios__label" for="whichinstallation-2">
                  Scunthorpe Integrated Iron & Steel Works (EU-100-82345-0-76)
                  <span id="ID-hint" class="govuk-hint">

                    23,871 units of general allowance<br/>138 units of CERs<br/> 20 units of ERUS
                  </span>
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whichinstallation-3" name="whichinstallation" type="radio" value="Port Talbot Steelworks || 1406" {{ checked ('whichinstallation', 'Port Talbot Steelworks || 1406')}}>
                <label class="govuk-label govuk-radios__label" for="whichinstallation-3">
                  Port Talbot Steelworks (EU-100-73104-0-76)
                  <span id="ID-hint" class="govuk-hint">

                  1,406 units of general allowance
                  </span>
                </label>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whichinstallation-4" name="whichinstallation" type="radio" value="Lynemouth Power Station || 10473" {{ checked ('whichinstallation', 'Lynemouth Power Station || 10473')}}>
                <label class="govuk-label govuk-radios__label" for="whichinstallation-4">
                  Lynemouth Power Station (EU-100-77732-0-76)
                  <span id="ID-hint" class="govuk-hint">

                  10,473 units of general allowance

                  </span>

                </label>
              </div>
            </div>

            <input type="hidden" name="installationName" id="installationName">
            <input type="hidden" name="allowanceValue" id="allowanceValue">
            <input type="hidden" name="allowanceIntlValue" id="allowanceIntlValue">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
            $(document).ready(function() {
              var value = $( "input[name=whichinstallation]:checked" ).val();
              if ( value ) {
                var split = value.split(' || ');
                console.log(split);
                $('#installationName').val( split[0] );
                $('#allowanceValue').val( split[1] );
                $('#allowanceIntlValue').val( split[2] );
              }

              $('input:radio').on('change',function(e){
                value = $( "input[name=whichinstallation]:checked" ).val();
                console.log(value);
                if ( value ) {
                  split = value.split(' || ');
                  console.log(split)
                  $('#installationName').val( split[0] );
                  $('#allowanceValue').val( split[1] );
                  $('#allowanceIntlValue').val( split[2] );
                }
              });
            })
            </script>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
