{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/2fa-submit">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/amount-submit" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Which installation do you want to submit emission for?
              </h1>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whichinstallation-1" name="whichinstallation" type="radio" value="Nevern Power Limited" {{ checked ('whichinstallation', 'Nevern Power Limited')}}>
            <label class="govuk-label govuk-radios__label" for="whichinstallation-1">
              Nevern Power Limited
              <span id="ID-hint" class="govuk-hint">
                ID Permit UK-E-IN-78934
                </span>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whichinstallation-2" name="whichinstallation" type="radio" value="Scunthorpe Integrated Iron & Steel Works" {{ checked ('whichinstallation', 'Scunthorpe Integrated Iron & Steel Works')}}>
            <label class="govuk-label govuk-radios__label" for="whichinstallation-2">
              Scunthorpe Integrated Iron & Steel Works
              <span id="ID-hint" class="govuk-hint">
                ID Permit UK-E-IN-78935
              </span>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whichinstallation-3" name="whichinstallation" type="radio" value="Port Talbot Steelworks" {{ checked ('whichinstallation', 'Port Talbot Steelworks')}}>
            <label class="govuk-label govuk-radios__label" for="whichinstallation-3">
              Port Talbot Steelworks
              <span id="ID-hint" class="govuk-hint">
                ID Permit UK-E-IN-78936
              </span>
            </label>

          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whichinstallation-4" name="whichinstallation" type="radio" value="Lynemouth Power Station" {{ checked ('whichinstallation', 'Lynemouth Power Station')}}>
            <label class="govuk-label govuk-radios__label" for="whichinstallation-4">
              Lynemouth Power Station
              <span id="ID-hint" class="govuk-hint">
                ID Permit UK-E-IN-78937

              </span>

            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button">Continue</button>

  </form>

</div>
</div>

{% endblock %}
