{% extends "layout.html" %}

{% block pageTitle %}
  Is this an installation on an aircraft operator?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/2fa-submit">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/amount-submit" method="post">

        {{ govukRadios({
          idPrefix: "is-aircraft-installation",
          name: "is-aircraft-installation",
          fieldset: {
            legend: {
              text: "Is this an installation on an aircraft operator?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
