{% extends "layout.html" %}

{% block pageTitle %}
  Surrender emissions allowance (ETS)
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Enviroment</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Climate change and energy</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Emissions and emissions trading</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
  Your linked representative
</h1>

{{ govukCheckboxes({
  idPrefix: "waste",
  name: "waste",
  fieldset: {
    legend: {
      text: "Add existing linked representatives",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "rep-1",
      text: "Rep1"
    },
    {
      value: "rep-2",
      text: "Rep2"
    },
    {
      value: "rep-3",
      text: "Rep3"
    }
  ]
}) }}

{% endblock %}
