{% extends "layout.html" %}

{% block pageTitle %}
  Log in or register
{% endblock %}

{% block signedInContent %}
<!-- Don't show anything because we're not signed in at this point -->
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if query.emailVerified == "Yes" %}
<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          Email address verified
        </h1>
        <div class="govuk-panel__body">
          You can now sign in to the Registry.
        </div>
      </div>
      <h2 class="govuk-heading-l">Sign in</h2>
      {% else %}
      <h1 class="govuk-heading-l">Sign in</h1>
      <p>
        If you don't have an account you can 
        <a class="govuk-link" href="/create-an-identity/start">
            create one now.
        </a>
      </p>
      {% endif %}


      <form class="form" action="login-register" method="post">

        {{ govukInput({
          label: {
            text: "Email address",
            classes: 'govuk-!-width-two-thirds'
          },
          id: "email",
          name: "email",
          type: "email",
          classes: 'govuk-!-width-two-thirds'
        }) }}

        {{ govukInput({
          label: {
            text: "Password",
            classes: 'govuk-!-width-two-thirds'
          },
          id: "password",
          name: "password",
          type: "password",
          classes: 'govuk-!-width-two-thirds'
        }) }}

        <button class="govuk-button">Continue</button>
        <p>
          <a class="govuk-link" href="/reset-password">
              Forgot your password?
          </a>
        </p>

      </form>

    </div>
  </div>


{% endblock %}
