{% extends "layout.html" %}

{% block pageTitle %}
  Who do you want to transfer allowance to?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/choose-transfer">Back</a>
{% endblock %}


{% block content %}

<style>
input, select { display: block; }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ data['installationName']}}</span>
      Who do you want to transfer allowance to?
    </h1>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">


<form class="form" action="/confirm-recipient-transfer" method="post">

  </legend>

  <div class="govuk-form-group">

    <label class="govuk-label" for="recepient-name">
      Installation ID of recipient
    </label>
    <span id="ID-hint" class="govuk-hint">
      eg 'EU-100-47639-0-78'
    </span>

    <input class="govuk-input" id="recipient-name" name="recipient-name" type="text" value="{{ data['recipient-name'] }}">



  </div>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Help with installation ID
      </span>
    </summary>
    <div class="govuk-details__text">
      The person you are transferring to should provide you with an installaion ID. This can be found in the Settings of their accounts.
    </div>
  </details>


  <button class="govuk-button" >Search for recipient</button>

</form>
</fieldset>



  </div>
  {% include "includes/sidebar.html" %}
</div>

{% endblock %}
