{% extends "layout.html" %}

{% block pageTitle %}
  Manage your greenhouse gas emissions
{% endblock %}

{% block signedInContent %}
{% endblock signedInContent %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Environment",
        href: "#"
      },
      {
        text: "Climate change and energy",
        href: "#"
      },
      {
        text: "Emissions and emissions trading"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">UK Emissions Trading Registry</h1>

      <p class="govuk-body">You can manage greenhouse gas emission allowances through the UK Emissions Trading Registry as part of the UK's climate change policy.

</p>

      <h2 class="govuk-heading-m">Registering for an account</h2>

      <p class="govuk-body">Before you can use the Registry, you need to set up an account with <a href="/login-register">the UK Emissions Trading Registry</a>.</p>

      <h2 class="govuk-heading-m">Registering your organisation</h2>

      <p class="govuk-body">You can <a href="login-register?continue_url=/register-your-organisation/task-list">register your organisation</a> once you’ve set up your account.</a> </p>


      {{ govukButton({
        text: "Sign in",
        href: "login-register",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

  </div>
{% endblock %}
