{% extends "layout.html" %}

{% block pageTitle %}
  Manage your greenhouse gas emissions
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Environment",
        href: "#"
      },
      {
        text: "Climate change and energy",
        href: "#"
      },
      {
        text: "Emissions and emissions trading"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">UK Emissions Trading Registry</h1>

      <p class="govuk-body">The UK Emissions Trading Registy is a tool to manage Allowances for emissions of greenhouse gases as part of the UK's climate change policy.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You'll need a user account set up before you can use this system. Ask your systems administrator to invite you to register, and <a href="apply-for-an-account/">set up an account here</a> when you receive the invitation.</p>

      <h2 class="govuk-heading-m">Registering your organisation</h2>

      <p class="govuk-body">If your organisation is not yet registered as a participant in the UK Emissions Trading Scheme, an authorised representative of the organisation must <a href="login-register?continue_url=/register-your-organisation/task-list">register the organisation first.</a> </p>


      {{ govukButton({
        text: "Sign in",
        href: "login-register",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

  </div>
{% endblock %}
