{% extends "layout.html" %}

{% block pageTitle %}
  Step by step navigation
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-navigation.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.StepByStepNavigation()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Manage your carbon emissions using ETS: step by step
    </h1>

    <p>
      Check what you need to do to be compliant for Emissions Trading System.
    </p>

    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive" >
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check if you need you be part of the scheme
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">If you’re business activities pollutes it’s likely that you needs to be part of the scheme</p>

            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.1" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/participating-in-the-eu-ets#free-allocation">Find out what is Emissions Trading System</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.2" class="app-step-nav__link js-link" href="https://www.gov.uk/government/publications/how-to-comply-with-the-eu-ets-and-small-emitter-and-hospital-opt-out-scheme">Check if you need to comply as an installation</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.2" class="app-step-nav__link js-link" href="https://www.gov.uk/government/publications/aircraft-operator-guide-how-to-comply-with-phase-iii-of-the-eu-ets ">Check if you need to comply as an aircraft operator</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get your Greenhouse Gas permit or aviation emission plan
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.1" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-open-etswap-and-registry-accounts-and-make-applications">Guidance to opening a ETSWAP account</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.2" class="app-step-nav__link js-link" href="https://www.gov.uk/greenhouse-gas-emissions-permit">Apply for Greenhouse gas permit</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.3" class="app-step-nav__link js-link" href="#">Apply for aviation emission plant</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.4" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-charges">Pay ETS fees and charges for ETSWAP</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get your ETS Registry account
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">Not all installations and aviation operator will need to manage ETS allowance. Some operators are exempt or follow a simplified procedure.
            </p>
            <ol class="app-step-nav__list " data-length="4">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.1" class="app-step-nav__link js-link" href="https://www.gov.uk/government/publications/how-to-comply-with-the-eu-ets-and-small-emitter-and-hospital-opt-out-scheme">Check if you qualify for small emitters or Hospital Opt Out scheme</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.2" class="app-step-nav__link js-link" href="#"> Check if you qualify for simplified procedure</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.3" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-open-etswap-and-registry-accounts-and-make-applications#union-registry-accounts-for-operators ">Apply for a Registry account</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.4" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-charges">Pay ETS fees and charges for Registry</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test" >
          <div class="app-step-nav__header js-toggle-panel" data-position="4">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--logic">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    and
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get your free allowance allocation
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-prepare-for-your-theory-test-4">
            <p class="app-step-nav__paragraph">Some installation and aviation will qualify for free allowance allocation.
            </p>
            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="4.1" class="app-step-nav__link js-link" href="#">Free allowance allocation</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="4.1" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-allowances#installations-free-allowances-from-the-new-entrant-reserve-ner">Get free allowance for new operators from New Entrant Reserve (NER)</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test" >
          <div class="app-step-nav__header js-toggle-panel" data-position="4">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Monitor your emissions
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-prepare-for-your-theory-test-4">
            <p class="app-step-nav__paragraph">You will need to monitor your emission for the current reporting year in accordance with your approved monitoring or emissions plan.
            </p>
            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.1" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/control-and-monitor-emissions-for-your-environmental-permit">Monitor your emissions</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test" >
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 5
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Making changes to your permit or monitoring plan.
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
            <p class="app-step-nav__paragraph">If your business activities changes and you increase or decrease capacity or production, you may need to make changes to your permit or monitoring plan. This may also affect your free allowance allocation.
            </p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.1" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-notify-your-regulator-about-changes-to-your-operations">Notify your regulator about the changes</span>
                </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.2" class="app-step-nav__link js-link" href="#">Check eligibility for more allowance from New Entrant Reserve</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test" >
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 6
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Reporting and Verifier your emissions by 31 March each year
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-driving-test-6">
            <p class="app-step-nav__paragraph">Most operators will need to appoint a verifier that is accredited for the regulated activity you are reporting on. In some instances, you do not need an accredited verifier
            </p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="7.1" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-monitoring-and-reporting#verification">Check if you need a verifier </span>
                </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="7.2" class="app-step-nav__link js-link" href="https://www.ukas.com">Choose an accredited verifier </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="7.3" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-monitoring-and-reporting#verifier-site-visits-to-installations">Organise your verifier site visits to your installation or aircraft operator </a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 7
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Submit your emissions by 31 March each year
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="8.1" class="app-step-nav__link js-link" href="/email-submit">Submit emissions data</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="8">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 8
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Buy or sell allowances
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-8">
            <ol class="app-step-nav__list " data-length="1">
              <p class="app-step-nav__paragraph">You can buy more allowance if you don’t have enough to surrender or sell excess allowance to someone else. Make sure you have enough allowance to meet your obligation by 30 April each year.
            </p>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="9.1" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-allowances#buy-allowances">Buy more allowance</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="9.2" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-allowances#trade-or-transfer-allowances">How to trade and transfer your allowance</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="9.3" class="app-step-nav__link js-link" href="#">Check and transfer your allowance</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="9">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 9
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Surrender your allowances by 30 April each year
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-9">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="10.1" class="app-step-nav__link js-link" href="https://ets-alpha-2.herokuapp.com/start-surrender ">Surrender your allowance</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="10">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 10
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Complete your improvement reports by 30 June each year
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-10">
            <p class="app-step-nav__paragraph">You need to regularly check whether you can improve the way you monitor your emissions. How frequently you need to do this will depend on your installation category and whether your verifier suggested any improvements.
          </p>
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="11.1" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/eu-ets-monitoring-and-reporting#improvementreports">Submit your improvement report </a>
              </li>
            </ol>
          </div>

        </li>


      </ol>
    </div>

  </div>
</div>

{% endblock %}
