{% extends "layout.html" %}

{% block pageTitle %}
  Transaction history
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/choose-transfer">Back</a>
{% endblock %}

{% block content %}

<style>
</style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ data['installationName']}}</span>
        Installation history
      </h1>








      <div class="govuk-form-group">
        <form id="change-type">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="everything" name="type" type="radio" value="everything">
              <label class="govuk-label govuk-radios__label" for="everything">
                Everything
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="transactions" name="type" type="radio" value="transactions">
              <label class="govuk-label govuk-radios__label" for="transactions">
                Transactions
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="submissions" name="type" type="radio" value="submissions" checked="checked">
              <label class="govuk-label govuk-radios__label" for="submissions">
                Submissions
              </label>
            </div>
          </div>
        </fieldset>
        </form>
      </div>



      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header" scope="col">Date submitted</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Emissions reported</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Allowance surrendered</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Balance</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">21 Nov 2012</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2012</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,938</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,938</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">3 Oct 2013</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2013</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,480</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,480</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">3 Jul 2014</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2014</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,960</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3,050</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">90</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">1 April 2015</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2015</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,560</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,470</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">1 Sept 2016</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2016</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,560</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,470</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">23 July 2017</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2017</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,638</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,638</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">21 Oct 2018</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2018</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3,059</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">-41</td>
          </tr>

        </tbody>
      </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $('input:radio').on('change',function(e){
          value = $( "input[name=type]:checked" ).val();
          console.log(value)
          if( value == 'everything' ) {
            window.location.href="transaction-history-transfer";
          } else if ( value == 'transactions' ) {
            window.location.href = "transaction-history-transactions-transfer";
          } else if ( value == 'submissions' ) {
            window.location.href = "transaction-history-submissions-transfer";
          }
        });
      })
    </script>

</div>
{% endblock %}
