{% extends "layout.html" %}
{% set columnWidth = 'two-thirds' %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}


{% block pageTitle %}Summary {{'- ' + serviceName}}{% endblock %}
{% block content %}
<div class="gov-uk-column-one-third">

      <h2 class="govuk-heading-l">Register to join the UK Emissions Trading Registry</h2>

              {% if
              data.userRegistrationCompleted == "Yes" and
              data.registerAnOrganisationCompleted == "Yes" and
              data.createNewAccountCompleted == "Yes" and
              data.addAnAuthorisedRepresentativeCompleted == "Yes" %}
              <!-- Do nothing -->
              {% else %}
                <p>You must complete each of the following steps before you can submit your registration.</p>
              {% endif %}
              <br />
 <ol class="app-task-list">
        <li>
            <!--
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Set up an account holder
          </h2>
            -->
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="/register-an-organisation/start" aria-describedby="eligibility-completed">
                  Register your organisation
              </a>
              {% if data.registerAnOrganisationCompleted == "Yes" %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="/create-new-account/start" aria-describedby="read-declaration-completed">
                  Create a new installation or trading account for the organisation
              </a>
              {% if data.createNewAccountCompleted == "Yes" %}
              <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>
              {% if
              data.userRegistrationCompleted == "Yes" and
              data.registerAnOrganisationCompleted == "Yes" and
              data.createNewAccountCompleted == "Yes" %}
                <p>You are now ready to submit your registration</p>
                {{ govukButton({
                  text: "Submit your registration",
                  href: "confirmation?onBoardingComplete=Yes"
                }) }}
              {% else %}
                {{ govukButton({
                  text: "Submit your registration",
                  disabled: true
                }) }}
              {% endif %}
              <p><a href="#">Save and continue later</a><p>

</div>
{% endblock %}
