{% extends "layouts/admin/base-account-question.html" %}

{% block pageTitle %}
  Check before surrendering your allowances
{% endblock %}


{% block content %}

  <h1 class="govuk-heading-xl">Check before suspending the account</h1>
    <form class="form" action="check-and-submit" method="post">

        <p>You are about to suspend account <strong>{{ installationData.permitId }}</strong>.</p><p>No trading will be permitted until the account is reinstated.</p>

      {{ govukButton({
        text: "Suspend account"
      }) }}
    </form>

{% endblock %}
