{% extends "layouts/admin/base.html" %}
{% set pageID = "transactions" %}
{% block content %}
<div class="jui-width-container">
<main class="govuk-main-wrapper" role="main">
  <h1 class="govuk-heading-xl">Cancel transaction {{transaction.transactionId}}</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% from "textarea/macro.njk" import govukTextarea %}
    {{ govukTextarea({
    name: "more-detail",
    id: "more-detail",
    label: {
        text: "Why are you cancelling this transaction?"
    },
    hint: {
        text: "Please provide a reason."
    }
    }) }}
     {{ govukButton({
        text: "Go back. I have changed my mind",
        href: '/app/transaction/' + transaction.transactionId,
        classes: 'govuk-button--as-link govuk-!-margin-bottom-0'
      }) }}
      {{ govukButton({
        text: "Cancel transaction",
        href: '/app/transaction/'+ transaction.transactionId + '/confirmation',
        classes: 'govuk-!-margin-bottom-0 app-cancel-btn'
      }) }}
    </div>
  </div>
</main>
</div>
{% endblock %}
{% block page_scripts %}
<script>
/* global $ */
$('body').on( "click", '.app-cancel-btn', function() {
    var notes = document.getElementById("more-detail").value
    var transactions = {{data.transactions | dump | safe }}
    var transaction = {{transaction.transactionId | dump | safe }}
    var url = '/app/transaction/'+ transaction
    transactions.find(function (t,index) {
    if (t.transactionId === transaction) {
        transactions[index].status = 'cancelled'
        transactions[index].lastUpdated = new Date(Date.now()).toISOString()
        transactions[index].notes = notes
        transactions[index].rejectedby = 'Registry user'
        $.ajax({
        method: "POST",
        url: url,
        data: { transactions },
        dataType: "json"
        })
    }
    })
})
</script>
{% endblock %}