{% extends "layouts/admin/base.html" %}
{% set pageID = "transactions" %}

{% set status %}
{% if transaction.status == "Completed" %}
  <span class="jui-status  jui-status--complete  govuk-!-margin-left-1" >{{ transaction.status }}</span>
{% elif transaction.status == "Failed" %}
  <span class="jui-status  jui-status--urgent  govuk-!-margin-left-1" >{{ transaction.status }}</span>
{% else %}
  <span class="jui-status  jui-status--pending  govuk-!-margin-left-1" >{{ transaction.status }}</span>
{% endif %}
{% endset %}

{% set randomAcquiringAccount %}
{% if transaction.acquiringAccount == "this" %}
EU-100-{{ [73432,82345,73104,77732] | random }}-0-76
{% else %}
{{ transaction.acquiringAccount }}
{% endif %}
{% endset %}
{% set randomTransferringAccount %}
{% if transaction.transferringAccount == 'this' %}
EU-100-{{ [73432,82345,73104,77732] | random }}-0-76
{% else %}
  {{ transaction.transferringAccount}}
{% endif %}
{% endset %}

{% block content %}

<div class="jui-width-container">
<main class="govuk-main-wrapper" role="main">
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
  <h1 class="govuk-heading-xl">Transaction {{transaction.transactionId}} details</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Transaction ID:
        </dt>
        <dd class="govuk-summary-list__value">
          {{transaction.transactionId}}
        </dd>
        
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type:
        </dt>
        <dd class="govuk-summary-list__value">
          {{transaction.type}}
        </dd>
        
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Started:
        </dt>
        <dd class="govuk-summary-list__value">
          {{(transaction.started | date("DD-MMM-YY") + '<br />' + transaction.started | date("HH:mm:ss")) | safe }}
        </dd>
        
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last updated:
        </dt>
        <dd class="govuk-summary-list__value">
          {{(transaction.lastUpdated | date("DD-MMM-YY") + '<br />' + transaction.lastUpdated | date("HH:mm:ss")) | safe }}
        </dd>
        
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Units:
        </dt>
        <dd class="govuk-summary-list__value">
        {% for unit in transaction.units %}
        <strong>
        {{unit.amount | formatNumber}}
        </strong>
        {% if 'submission' in task.type | lower %}
            {{ unit.type | upper | safe}}
        {% else %}
          {{unit.type | safe}}
        {% endif %}
          <br />
        {% endfor %}
        </dd>
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          From:
        </dt>
        <dd class="govuk-summary-list__value">
          {{randomTransferringAccount}}
        </dd>
        
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          To:
        </dt>
        <dd class="govuk-summary-list__value">
          {{randomAcquiringAccount}}
        </dd>
        
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Proposer:
        </dt>
        <dd class="govuk-summary-list__value">
          {{transaction.proposer}}
        </dd>
        
      </div>
      {% if 'completed' in transaction.status | lower %}
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Approver:
        </dt>
        <dd class="govuk-summary-list__value">
          {{transaction.approver}}
        </dd>
        
      </div>
      {% endif %}
      {% if 'approved' in transaction.status | lower %}
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Approver:
        </dt>
        <dd class="govuk-summary-list__value">
          {{transaction.approver}}
        </dd>
        
      </div>
      {% endif %}
      {% if 'rejected' in transaction.status | lower %}
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Rejected by:
        </dt>
        <dd class="govuk-summary-list__value">
          {{transaction.rejectedby}}
        </dd>
        
      </div>
      {% endif %}
      {% if 'cancelled' in transaction.status | lower %}
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cancelled by:
        </dt>
        <dd class="govuk-summary-list__value">
          {{ transaction.cancelledby }}
        </dd>
        
      </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status:
        </dt>
        <dd class="govuk-summary-list__value">
        {% if 'failed' in status | lower %}
           {{status | safe}}
           <p class="govuk-!-margin-top-2"> System error: Account ID no longer exists. </p>
        {% else %}
           {{status | safe}}
        {% endif %}
         
        </dd>
        
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Notes:
        </dt>
        <dd class="govuk-summary-list__value">
          {{transaction.notes | d('No notes present')}}
        </dd>
        
      </div>
    </dl>
    </div>
    <div class="govuk-grid-column-one-third">
    {% set cancelPeriodDate = transaction.lastUpdated | date("add", 26, "hours") | date(toISOString)  %}
    {% set isBefore =  data.todaysDate  | date("isBefore", cancelPeriodDate) %}
    {% if 'awaiting approval' in transaction.status | lower %}
      {{ govukButton({
        text: "Cancel transaction",
        href: '/app/transaction/' + transaction.transactionId + '/cancel',
        classes: 'hmcts-button--secondary govuk-!-margin-bottom-0'
      }) }}
    {% elif 'approved' in transaction.status | lower %}
      {% if isBefore %}
        {{ govukButton({
        text: "Cancel transaction",
        href: '/app/transaction/' + transaction.transactionId +'/cancel',
        classes: 'hmcts-button--secondary govuk-!-margin-bottom-0'
      }) }}
      {% endif %}
    {% endif %}
    </div>
  </div>
  
  
  
</main>
</div>
{% endblock %}