{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Make a decision {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ hmctsIdentityBar({
  title: {
    html: casebar.parties
  }
}) }}

<div class="jui-width-container">

  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">

        <h1 class="govuk-heading-xl">Make a decision</h1>

        <form method="post">

          {% set legendText %}Are you satisfied that <b>{{ petitioner }}</b> is entitled to a decree nisi on the grounds of adultery?{% endset %}

          {{ govukRadios({
            idPrefix: 'satisfied',
            name: 'satisfied',
            classes: 'govuk-radios--inline',
            fieldset: {
              legend: {
                html: legendText
              }
            },
            "items": [
              {
                html: 'Yes<span class=\'govuk-visually-hidden\'>, I am satisfied</span>',
                value: 'Yes',
                checked: checked('satisfied', 'Yes') == 'checked'
              },
              {
                html: 'No<span class=\'govuk-visually-hidden\'>, I am not satisfied</span>',
                value: 'No',
                checked: checked('satisfied', 'No') == 'checked'
              }
            ]
          }) }}

          {{ govukButton({
            text: 'Continue'
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}